$govuk-assets-path: "govuk-assets/";
$govuk-font-family: sans-serif;
$iai-pink: #b62777;

@import "django_app/frontend/node_modules/govuk-frontend/dist/govuk/all";


/* Classification banner */
.iai-classification-banner {
  background-color: #2b71c7;
  color: white;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem 1rem;
  text-align: center;
}


/* i.AI pink in header */
.govuk-header__container {
  border-color: $iai-pink;
}

.govuk-phase-banner__content__tag {
  background-color: $iai-pink;
  color: white;
}


/* File upload */
.iai-file-types {
  font-size: 0.875rem;
}


/* Chat page */
.iai-chat-message {
  background-color: #b1b4b6;
  padding: 1rem;
}
.iai-chat-message--ai {
  margin-right: clamp(2rem, 10vw, 5rem);
}
.iai-chat-message--user {
  margin-left: clamp(2rem, 10vw, 5rem);
}
.iai-chat-message__role {
  font-size: 0.75rem;
}
.iai-chat-message__text {
  font-size: 1rem;
  padding-top: 0.5rem;
}


.iai-response-feedback {
  display: none;
  position: relative;
  top: -3rem;
}
/* only show response feedback for last AI message */
[data-role="ai"] + .iai-response-feedback {
  display: block;
}
.iai-response-feedback__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.75rem;
}

/* Only show feedback when correct buttons pressed */
.iai-chat-message--feedback-thumbs-up, .iai-chat-message--feedback-thumbs-down {
  display: none;
}
.iai-response-feedback__buttons[data-status="up"] ~ .iai-chat-message--feedback-thumbs-up {
  display: block;
}
.iai-response-feedback__buttons[data-status="down"] ~ .iai-chat-message--feedback-thumbs-down {
  display: block;
}


/*iai-chat-message--{{ message.role }}*/
