$govuk-assets-path: "govuk-assets/";
$govuk-font-family: sans-serif;
$iai-pink: #b62777;

@import "frontend/node_modules/govuk-frontend/dist/govuk/all";


/* Classification banner */
.iai-classification-banner {
  background-color: #2b71c7;
  color: white;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem 1rem;
  text-align: center;
}


/* i.AI pink in header */
.govuk-header__container {
  border-color: $iai-pink;
}

.govuk-phase-banner__content__tag {
  background-color: $iai-pink;
  color: white;
}


/* File upload */
.iai-file-types {
  font-size: 0.875rem;
}


/* Chat page */
.iai-chat-message {
  background-color: #b1b4b6;
  padding: 1rem;
}
.iai-chat-message--ai {
  margin-right: clamp(2rem, 10vw, 5rem);
}
.iai-chat-message--user {
  margin-left: clamp(2rem, 10vw, 5rem);
}
.iai-chat-message__role {
  font-size: 0.75rem;
}
.iai-chat-message__text {
  font-size: 1rem;
  padding-top: 0.5rem;
}


.iai-response-feedback {
  display: none;
  position: relative;
  top: -0.75rem;
}
/* only show response feedback for last AI message */
[data-role="ai"] + .iai-response-feedback {
  display: block;
}
.iai-response-feedback__buttons {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 1.25rem;
}
.iai-response-feedback__buttons button {
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: govuk-colour("dark-grey");
  display: flex;
  fill: govuk-colour("dark-grey");
  font-size: 0.75rem;
  gap: 0.125rem;
}
.iai-response-feedback__buttons button[data-response="down"] svg {
  transform: rotate(180deg);
}
.iai-response-feedback__thumb-fill {
  fill: transparent;
}
.iai-response-feedback__buttons[data-status="down"] button[data-response="down"] *, .iai-response-feedback__buttons button[data-response="down"]:hover * {
  color: govuk-colour("red");
  fill: govuk-colour("red");
}
.iai-response-feedback__buttons[data-status="up"] button[data-response="up"] *, .iai-response-feedback__buttons button[data-response="up"]:hover * {
  color: govuk-colour("green");
  fill: govuk-colour("green");
}

/* Only show feedback when correct buttons pressed */
.iai-chat-message--feedback-thumbs-up, .iai-chat-message--feedback-thumbs-down {
  display: none;
}
.iai-response-feedback__buttons[data-status="up"] ~ .iai-chat-message--feedback-thumbs-up {
  display: block;
}
.iai-response-feedback__buttons[data-status="down"] ~ .iai-chat-message--feedback-thumbs-down {
  display: block;
}
