$govuk-assets-path: "govuk-assets/";
$govuk-font-family: sans-serif;
$iai-pink: #b62777;
$redbox-red: #A50202;

@import "./node_modules/govuk-frontend/dist/govuk/all";

body {
  background-color: white;
  margin: 0;
}

/* All pages */
.iai-classification-banner {
  background-color: #2b71c7;
  color: white;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem 1rem;
  text-align: center;
}

.iai-environment-warning {
  background-color: #FFBF47;
  color: black;
}

.govuk-phase-banner__content__tag {
  background-color: govuk-colour("blue");
  color: white;
}

.iai-button--blue {
  background-color: govuk-colour("blue");
}
.iai-button--blue:hover {
  background-color: govuk-colour("dark-blue");
}


/* Home page */
.govuk-main-wrapper:has(.iai-banner) {
  padding-top: 0;
}
.iai-banner {
  background-color: $redbox-red;
  color: white;
  padding-bottom: 3rem;
  padding-top: 2.75rem;
}
.iai-banner * {
  color: white;
}
.iai-banner .govuk-link {
  color: white;
}
.iai-banner .govuk-link:focus {
  background-color: white;
  color: black;
}
.iai-banner__links {
  align-items: center;
  display: flex;
  gap: 0.75rem;
}


/* Documents page */
.iai-doc-retention {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
.iai-doclist-mobile__item {
  border: 1px solid #b1b4b6;
  border-radius: 0.25rem;
  list-style-type: none;
}
.iai-doclist-desktop {
  display: none;
}
@media (min-width: 448px) {
  .iai-doclist-mobile {
    display: none;
  }
  .iai-doclist-desktop {
    display: block;
  }
}
/* Use this if more than one button in Actions
.iai-docs__actions .govuk-button {
  width: 100%;
}
@media (min-width: 1024px) {
  .iai-docs__actions {
    width: 13.25rem;
  }
  .iai-docs__actions .govuk-button {
    width: auto;
  }
}
.iai-docs__status {
  margin-top: 2px;
}


/* File upload */
.iai-file-types {
  font-size: 0.875rem;
}


/* Chat page */
.iai-panel {
  background-color: govuk-colour("light-grey");
  border-radius: 0.25rem;
  display: block;
  margin-bottom: 2rem;
  padding: 1rem;
  padding-top: 1.5rem;
}
.iai-panel__scrollable {
  overflow-y: auto;
  padding-right: 0.5rem;
  max-height: 16.75rem;
}
.iai-panel__scrollable::-webkit-scrollbar {
  background-color: govuk-colour("mid-grey");
  width: 5px;
}
.iai-panel__scrollable::-webkit-scrollbar-thumb {
  background-color: govuk-colour("dark-grey");
}
.iai-panel__scrollable .govuk-checkboxes__item {
  margin-left: 0.625rem;
}

.iai-chat-message__container {
  margin-top: -1rem;
}
.iai-chat-message {
  background-color: #f3f2f1;
  border: 1px solid #b1b4b6;
  border-radius: var(--border-radius);
  margin-bottom: 0.75rem;
  padding: 1rem;
}
.iai-chat-message:focus {
  outline: 2px solid;
}
.iai-chat-message--ai {
  margin-right: clamp(2rem, 10vw, 5rem);
}
.iai-chat-message--user {
  margin-left: clamp(2rem, 10vw, 5rem);
}
.iai-chat-message__role {
  font-size: 0.75rem;
}
.iai-chat-message__text {
  font-size: 1rem;
  padding-top: 0.5rem;
}
.iai-chat-message__sources-heading, .iai-chat-messages__sources-link {
  font-size: 0.875rem;
}
.iai-chat-message__text code {
  display: block;
  overflow-x: auto;
}
.iai-chat-message__text li {
  padding: 0.125rem 0;
}
.iai-chat-message__text table {
  border-collapse: collapse;
  width: 100%;
}
.iai-chat-message__text th, .iai-chat-message__text td {
  border: 1px solid black;
  padding: 0.25rem;
  text-align: left;
}

.iai-new-message textarea {
  margin-bottom: 0.5rem;
}
.iai-new-message .govuk-form-group {
  margin: 0;
  width: 100%;
}
@media (min-width: 769px) {
  .iai-new-message {
    align-items: flex-end;
    display: flex;
    gap: 0.5rem;
  }
  .iai-new-message textarea, .iai-new-message button {
    height: 4rem;
    margin: 0;
  }
}

.iai-response-feedback {
  display: none;
  position: relative;
  top: -0.5rem;
}
/* only show response feedback for last AI message */
[data-role="ai"] + .iai-response-feedback {
  display: block;
}
.iai-response-feedback__buttons {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 1.25rem;
}
.iai-response-feedback__buttons button {
  align-items: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: govuk-colour("dark-grey");
  display: flex;
  fill: govuk-colour("dark-grey");
  font-size: 0.75rem;
  gap: 0.125rem;
}
.iai-response-feedback__buttons button[data-response="down"] svg {
  transform: rotate(180deg);
}
.iai-response-feedback__thumb-fill {
  fill: transparent;
}
.iai-response-feedback__buttons[data-status="down"] button[data-response="down"] *, .iai-response-feedback__buttons button[data-response="down"]:hover * {
  color: govuk-colour("red");
  fill: govuk-colour("red");
}
.iai-response-feedback__buttons[data-status="up"] button[data-response="up"] *, .iai-response-feedback__buttons button[data-response="up"]:hover * {
  color: govuk-colour("green");
  fill: govuk-colour("green");
}

/* Only show feedback when correct buttons pressed */
.iai-response-feedback__thumbs-up, .iai-response-feedback__thumbs-down {
  display: none;
}
.iai-response-feedback__buttons[data-status="up"] ~ .iai-response-feedback__thumbs-up {
  display: block;
}
.iai-response-feedback__buttons[data-status="down"] ~ .iai-response-feedback__thumbs-down {
  display: block;
}

.iai-streaming-response-loading {
  align-items: center;
  display: flex;
  padding: 0.5rem 0;
  gap: 0.25rem;
}
.iai-response-loading {
  align-items: center;
  display: flex;
  padding: 0.5rem 0;
  visibility: hidden;
}
.iai-response-loading:focus-visible {
  outline: 1px solid;
}
.iai-response-loading__spinner, .iai-streaming-response-loading__spinner {
  width: 1.5rem;
}

@import "./iai.scss";
