{% import "macros.html" as macros %}
{% extends "base_generic_gov.html" %}

<!--TODO: Update system url and other variables-->

{% block title %}
  <title>Accessibility statement - Redbox Copilot - GOV.UK</title>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Accessibility statement for Redbox Copilot Platform</h1>
  <div class="govuk-body">
    <p>This accessibility statement applies to Redbox Copilot - <a href="<SYSTEM_URL>" class="govuk-link"><SYSTEM_URL></a>.</p>
    <p>This website is run by the Cabinet Office. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>navigate most of the website using just a keyboard</li>
      <li>navigate most of the website using speech recognition software</li>
      <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
  </ul>
  <p>We've also made the website text as simple as possible to understand.</p>
  <p><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
    <h2 class="govuk-heading-m">Feedback and contact information</h2>
    If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:
      <ul class="govuk-list govuk-list--bullet">
        <li>email <a href="mailto:redbox-copilot-support@cabinetoffice.gov.uk" class="govuk-link">redbox-copilot-support@cabinetoffice.gov.uk</a></li>
      </ul>
    <p>We'll consider your request and get back to you in 14 days.</p>


    <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
    <p>We're always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we're not meeting accessibility requirements, contact the team at <a href = "mailto:obt-platform-support@cabinetoffice.gov.uk" class="govuk-link">obt-platform-support@cabinetoffice.gov.uk</a>.</p>
    <h2 class="govuk-heading-m">Enforcement procedure</h2>
    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the "accessibility regulations"). If you're not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.</p>
    <h2 class="govuk-heading-m">Technical information about this website's accessibility</h2>
    <p>Cabinet Office is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    <h2 class="govuk-heading-m">Compliance status</h2>
    <p>This website is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>
    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    <p>This statement was prepared on 27th February 2024. It was last reviewed on 27th February 2024.</p>



  </div>
{% endblock %}
