{% from "macros/iai-top-nav.html" import iaiTopNav %}

<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
  <meta charset="utf-8">
  <title>{% if pageTitle %} {{ pageTitle }} - {% endif %}Redbox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">

  <link rel="icon" sizes="any" href="{{static("images/favicon.ico")}}" type="image/svg+xml">
  <link rel="manifest" href="{{static("govuk-assets/manifest.json")}}">

  <meta name="robots" content="noindex, nofollow">
  <link rel="stylesheet" type="text/css" href="{{static('styles.css')}}" />

  <script type="module" src="{{static('js/libs/dompurify.js')}}"></script>
  <script type="module" src="{{static('js/main.js')}}"></script>

  {% if environment | lower in ["dev", "preprod"] %}
    <script defer
    event-environment="{{environment}}"
    data-domain="redbox-dev.ai.cabinetoffice.gov.uk" src="https://plausible.io/js/script.pageview-props.tagged-events.outbound-links.file-downloads.local.js"></script>
  {% elif environment | lower == "prod" %}
    <script defer
    data-domain="redbox.ai.cabinetoffice.gov.uk" src="https://plausible.io/js/script.pageview-props.tagged-events.outbound-links.file-downloads.js"></script>
  {% endif %}

  {% if environment | lower == "preprod" %}
    <script type="module" src="{{ static('js/posthog.js') }}"></script>
  {% endif %}

</head>

<body class="govuk-template__body">
  <script hash="sha256-GUQ5ad8JK5KmEWmROf3LZd9ge94daqNvd8xy9YS1iDw=">document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>

  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

  {% if environment | lower != "prod" %}
    <div class="rb-classification-banner govuk-warning-text rb-environment-warning iai-environment-warning">
      {{environment|upper}} - This is not a live service
    </div>
  {% endif %}


  {% if request.user.is_authenticated %}
    {% set menu_items = [
      {"text": "Documents", "href": url('documents')},
      {"text": "Chats", "href": url('chats')},
      {"text": "My details", "href": url('demographics')},
      {"text": "Sign out", "href": url('signed-out')}
    ] %}
  {% else %}
    {% set menu_items = [
      {"text": "Sign in", "href": "sign-in"}
    ] %}
  {% endif %}

  {{ iaiTopNav(
    product_name = "Redbox",
    menu_items = menu_items,
    phase = "Beta"
  ) }}


  <main class="govuk-main-wrapper" id="main-content" role="main">
    {% block content %}
    {% endblock %}
  </main>

  {% set footer_links = [
    {'text': 'Privacy', 'url': url('privacy-notice') },
    {'text': 'Accessibility', 'url': url('accessibility-statement') },
    {'text': 'Support', 'url': url('support') }
  ] %}
  <footer class="iai-footer">
    <div class="iai-footer__container govuk-width-container">
      <div class="iai-footer__links-container">
        <a class="iai-footer__logo" href="https://ai.gov.uk">
          <svg width="65" height="40" aria-label="i.AI" focusable="false" viewBox="0 0 167 105"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect y="24.937px" width="22px" fill="#fff" height="80px" x="0px"></rect><rect fill="#c50878" x="144.87" width="21.82" height="104.15"></rect><circle r="11" cx="11px" fill="#fff" cy="11px"></circle><path fill="#c50878" d="M122.1,104.15,115,83.7H79.41l-6.75,20.45H48.52L87.06,0H108.6l38.15,104.15ZM97.44,27.8,85.76,63.55h23.1Z"></path><circle r="11" cx="36.700001px" fill="#fff" cy="93.682587px"></circle></g></g></svg>
        </a>
        <div>
          <ul class="iai-footer__list">
            {% for link in footer_links %}
              <li class="iai-footer__list-item">
                <a class="iai-footer__link iai-footer__link--large" href="{{ link.url }}">{{ link.text }}</a>
              </li>
            {% endfor %}
          </ul>
          <div class="iai-footer__licence">
            <svg aria-hidden="true" focusable="false" class="iai-footer__licence-logo" viewBox="0 0 483.2 195.7" height="17" width="41">
              <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
            </svg>
            <span>
              All content is available under the
              <a class="iai-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
            </span>
          </div>
        </div>
      </div>
      <div class="iai-footer__feedback-container">
        <svg aria-hidden="true" focusable="false" width="37" height="37" viewBox="0 0 37 37" fill="none">
          <path d="M36.1936 18.0968C36.1936 8.1022 28.0913 0 18.0968 0C8.1022 0 0 8.1022 0 18.0968C0 28.0913 8.1022 36.1936 18.0968 36.1936C28.0913 36.1936 36.1936 28.0913 36.1936 18.0968Z" fill="#EDEEF2"/>
          <path d="M36.1936 18.0968C36.1936 8.1022 28.0913 0 18.0968 0C8.1022 0 0 8.1022 0 18.0968C0 28.0913 8.1022 36.1936 18.0968 36.1936C28.0913 36.1936 36.1936 28.0913 36.1936 18.0968Z" fill="#C50878"/>
          <path d="M9 17L27 12V24L9 20V17Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M17.5997 22.8C17.4947 23.1808 17.3156 23.5373 17.0728 23.8489C16.83 24.1605 16.5282 24.4213 16.1847 24.6163C15.8411 24.8113 15.4625 24.9367 15.0704 24.9854C14.6784 25.0341 14.2806 25.0051 13.8997 24.9C13.5189 24.795 13.1625 24.6159 12.8508 24.3731C12.5392 24.1303 12.2784 23.8285 12.0834 23.4849C11.8884 23.1414 11.763 22.7627 11.7143 22.3707C11.6657 21.9786 11.6947 21.5808 11.7997 21.2" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="iai-footer__feedback-text">This is a new service your <a class="iai-footer__link" href="https://www.smartsurvey.co.uk/s/EOWJ04/">feedback</a> will help us to <span class="iai-prevent-orphans">improve it</span></span>
      </div>
    </div>
  </footer>

</body>

</html>
