{% set pageTitle = "Citations" %}
{% extends "base.html" %}


{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="rb-back-link govuk-!-display-block" href="{{url('chats', message.chat.id)}}">	
        &lt; <span class="govuk-breadcrumbs__link">Back to chat</span>
      </a>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-margin-top-5">Citing the response</h1>
      <p class="govuk-body govuk-!-margin-top-3">Shows the response along with relevant sections from the original source</p>
    </div>
  </div>

  {% include "citation_fragment.html" %}

</div>

<script src="{{ static('js/libs/showdown.min.js') }}"></script>
<script type="module" src="{{ static('js/citations.js') }}" ></script>

{% endblock %}
