{% set pageTitle = "Citations" %}
{% extends "base.html" %}
{% from "macros/govuk-button.html" import govukButton %}
{% from "macros/govuk-notification-banner.html" import govukNotificationBanner %}
{% from "macros/use-trusted-types.html" import use_trusted_types %}


{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Citations</h1>
      <a class="govuk-breadcrumbs__link govuk-!-display-block govuk-!-margin-top-3" href="#back">Back to chat</a>
    </div>
  </div>

  {% include "citation_fragment.html" %}

</div>

{% endblock %}