<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third govuk-!-margin-top-3">

    <div class="iai-panel">
      <div class="govuk-!-padding-left-1 govuk-!-padding-right-1">
        <h2 class="govuk-heading-m">Response</h2>
        <div class="iai-chat-bubble">
          <markdown-converter class="iai-chat-bubble__text">{{ message.text }}</markdown-converter>
        </div>
      </div>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-3">
    {% if message.citation_set.all() %}
      <div class="iai-panel">
        <div class="govuk-!-padding-left-1 govuk-!-padding-right-1">
          <h2 class="govuk-heading-m">Sources</h2>
          <ul class="rb-citations__list">
            {% for citation in message.citation_set.all() %}
              <li class="rb-citations__item">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                  {% if citation.url %} {# an external reference #}
                    <a class="iai-chat-bubbles__sources-link govuk-link" href="{{ citation.url }}">{{ citation.url }}</a>
                  {% else %} {# a user doc #}
                    <a class="iai-chat-bubbles__sources-link govuk-link" href="{{ citation.file.url }}">{{ citation.file.file_name }}</a>
                  {% endif %}
                </h3>
                {% if citation.page_numbers %}
                  <div class="govuk-body-s govuk-!-margin-top-3"><strong>Page number(s):</strong> {{ citation.page_numbers | join(", ") }}</div>
                {% endif %}
                <markdown-converter class="iai-chat-bubble__text">{{ citation.text }}</markdown-converter>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  </div>

</div>
