{% if citations %}
  <h3 class="iai-chat-bubble__sources-heading govuk-heading-s govuk-!-margin-bottom-1">Sources</h3>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
    {% for source, citations in citations|groupby('file') %}
      <li class="govuk-!-margin-bottom-0">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      {% if source.get_status_text() == "Complete" %}
                        <a class="iai-chat-bubbles__sources-link govuk-link"
                           href="{{ source.url }}">{{ source.original_file_name }}</a>
                      {% else %}
                        <span class="iai-chat-bubbles__sources-link">{{ source.original_file_name }}</span>
                      {% endif %}
                    </span>
          </summary>
          <div class="govuk-details__text">
            {% for citation in citations %}
              <markdown-converter class="iai-chat-bubble__text">{{ citation.text }}</markdown-converter>
            {% endfor %}
          </div>
        </details>
      </li>
    {% endfor %}
  </ul>
{% endif %}