<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third govuk-!-margin-top-7">

    <div class="iai-panel">
      <div class="govuk-!-padding-left-1 govuk-!-padding-right-1">
        <h2 class="govuk-heading-m">Message</h2>
        <div class="iai-chat-bubble">
          <markdown-converter class="iai-chat-bubble__text">{{ message.text }}</markdown-converter>
        </div>
      </div>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-7">
    {% if source_files %}
      <div class="iai-panel">
        <div class="govuk-!-padding-left-1 govuk-!-padding-right-1">
          <h2 class="govuk-heading-m">Sources</h2>
          {% for source_file in source_files %}
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
              {% if source_file.get_status_text() == "Complete" %}
                <a class="iai-chat-bubbles__sources-link govuk-link"
                  href="{{ source_file.url }}">{{ source_file.original_file_name }}</a>
              {% else %}
                <span class="iai-chat-bubbles__sources-link">{{ source_file.original_file_name }}</span>
              {% endif %}
            </h3>
            <ul class="rb-citations">
              {% for citation in source_file.citation_set.all() %}
                <li class="rb-citations__item">
                  {% if citation.page_numbers %}
                    <div class="govuk-body-s govuk-!-margin-top-3">Page number(s): {{ citation.page_numbers | join(", ") }}</div>
                  {% endif %}
                  <markdown-converter class="iai-chat-bubble__text">{{ citation.text }}</markdown-converter>
                </li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>

</div>
