{% set pageTitle = "My details" %}
{% extends "base.html" %}
{% from "macros/govuk-button.html" import govukButton %}

{% block content %}

  <div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h1 class="govuk-heading-l">My details</h1>
      </div>
    </div>

    <form method='post'>
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

      <div class="govuk-form-group">
        <label class="govuk-label" for="{{ form.name.id_for_label }}">
          {{ form.name.label }}
        </label>
        {{ form.name }}
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            {{ form.ai_experience.label }}
          </legend>
          <div class="govuk-radios">
            {% for value, label in form.ai_experience.field.choices %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" type="radio"
                       id="ai_experience_{{ loop.index0 }}"
                       name="{{ form.ai_experience.name }}"
                       value="{{ value }}"
                       {% if value|string == form.ai_experience.value()|string %}checked{% endif %}
                       data-testid="{{ value }}">
                <label class="govuk-label govuk-radios__label"
                       for="ai_experience_{{ loop.index0 }}">
                  {{ value }}<br/>{{ label }}
                </label>
              </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="{{ form.business_unit.id_for_label }}">
          {{ form.business_unit.label }}
        </label>
        {{ form.business_unit }}
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="{{ form.grade.id_for_label }}">
          {{ form.grade.label }}
        </label>
        {{ form.grade }}
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="{{ form.profession.id_for_label }}">
          {{ form.profession.label }}
        </label>
        {{ form.profession }}
      </div>
    
      <div class="govuk-button-group">
        {{ govukButton(text="Update") }}
        {{ govukButton(text="Skip", href=url('documents'), classes="govuk-button--secondary") }}
      </div>
    </form>

    {% if form.errors %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% for error in form.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

  </div>

{% endblock %}
