{% set pageTitle = "My details" %}
{% extends "base.html" %}
{% from "macros/govuk-button.html" import govukButton %}

{% block content %}

  <div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h1 class="govuk-heading-l">My details</h1>
      </div>
    </div>

    <form method='post'>
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

      <div class="govuk-form-group">
        <label class="govuk-label" for="{{ form.name.id_for_label }}">
          {{ form.name.label }}
        </label>
        {{ form.name }}
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            {{ form.ai_experience.label }}
          </legend>
          <div class="govuk-radios experience-cards">
            {% for value, label in form.ai_experience.field.choices %}
              {% if value %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" type="radio"
                        id="ai_experience_{{ loop.index0 }}"
                        name="{{ form.ai_experience.name }}"
                        value="{{ value }}"
                        {% if value|string == form.ai_experience.value()|string %}checked{% endif %}
                        data-testid="{{ value }}">
                  <label class="govuk-label" for="ai_experience_{{ loop.index0 }}">
                    {{ value }}
                    <span class="govuk-hint govuk-radios__hint">{{ label }}</span>
                  </label>         
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </fieldset>
      </div>

      {# To be added if we want users to be able to customise system prompt
      <div class="govuk-form-group">
        <label class="govuk-label" for="{{ form.info_about_user.id_for_label }}">
          {{ form.info_about_user.label }}
        </label>
        {{ form.info_about_user }}
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="{{ form.redbox_response_preferences.id_for_label }}">
          {{ form.redbox_response_preferences.label }}
        </label>
        {{ form.redbox_response_preferences }}
      </div>
      #}

      {# Testing Tools #}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Allow Redbox to use the following tools:
            </h2>
          </legend>
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="organisation">
                Caddy
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
              <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                Parlex
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
              <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                Minute
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
              <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                Google Drive
              </label>
            </div>
          </div>
        </fieldset>
      </div>


      <div class="govuk-button-group">
        {{ govukButton(text="Update") }}
        {# {{ govukButton(text="Skip", href=url('chats'), classes="govuk-button--secondary") }} #}
      </div>
    </form>

    {% if form.errors %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% for error in form.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

  </div>

{% endblock %}
