{% set pageTitle = "Documents" %}
{% extends "base.html" %}
{% from "macros/govuk-button.html" import govukButton %}
{% from "macros/govuk-notification-banner.html" import govukNotificationBanner %}

{% block content %}

{% if COMPRESSION_ENABLED %}
  {% compress js %}
    <script src="{{ static('js/documents.js') }}"></script>
  {% endcompress %}
{% else %}
  <script src="{{ static('js/documents.js') }}"></script>
{% endif %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% if ingest_errors %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There was a problem uploading some documents
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% for error in ingest_errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}

      <h1 class="govuk-heading-l govuk-!-margin-top-5">Your documents</h1>

      <p class="govuk-body-l">Manage documents to use with your Redbox.</p>
      <p class="govuk-body">Redbox generates a response using only the documents you upload. This is different to other Large Language Models (LLM) such as ChatGPT and&nbsp;Claude.</p>

      <div class="rb-doc-retention govuk-!-margin-bottom-5">
        <img width="32" height="32" src="{{ static('images/icon-30-days.png') }}" loading="lazy" alt=""/>
        <p class="govuk-body-s govuk-!-margin-bottom-0">Documents will be stored for up to 30 days.</p>
      </div>


      {{ govukNotificationBanner(
        title="Important",
        text_list=[
          {"text": "You can use up to, and including, Official Sensitive documents. You are not allowed to upload documents with personal data."}
        ]
      ) }}

      {# Mobile docs list #}
      <div class="rb-doclist-mobile">
        <h2 class="govuk-visually-hidden">Document list</h2>
        <ul class="govuk-!-padding-0">
          {% for file in files %}
            <li class="rb-doclist-mobile__item govuk-!-margin-top-3 govuk-!-padding-3">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">File Name</dt>
                  <dd class="govuk-summary-list__value">{{file.name}}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Uploaded at</dt>
                  <dd class="govuk-summary-list__value">{{ file.created_at | to_user_timezone }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Remaining time</dt>
                  <dd class="govuk-summary-list__value">{{ file.remaining_time | humanize_timedelta }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Status</dt>
                  <dd class="govuk-summary-list__value">
                    {% if file.get_status_text() | lower == 'complete' %}
                      <strong class="govuk-tag govuk-tag--green rb-docs__status">{{ file.get_status_text() }}</strong>
                    {% elif file.get_status_text() | lower == 'deleted' %}
                      <strong class="govuk-tag govuk-tag--red rb-docs__status">{{ file.get_status_text() }}</strong>
                    {% else %}
                      <file-status class="govuk-tag govuk-tag--yellow rb-docs__status" data-id="{{file.id}}">{{ file.get_status_text() }}</file-status>
                    {% endif %}
                  </dd>
                </div>
              </dl>
              {% if file.get_status_text() | lower != 'deleted' %}
                {{ govukButton(
                  text="Remove" + "<span class=\"govuk-visually-hidden\">" + file.name + "</span>",
                  href=url('remove-doc', file.id),
                  classes="govuk-button--warning govuk-!-margin-bottom-0"
                ) }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>

      {# Desktop docs list #}
      {% if files %}
        <table class="govuk-table rb-doclist-desktop">
          <caption class="govuk-table__caption govuk-table__caption--m">
            <h2 class="govuk-visually-hidden">Document list</h2>
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">File Name</th>
              <th scope="col" class="govuk-table__header">Uploaded at</th>
              <th scope="col" class="govuk-table__header">Remaining time</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header rb-doclist__actions">Actions</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for file in files %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-top-3">{{ file.name }}</td>
                <td class="govuk-table__cell govuk-!-padding-top-3">{{ file.created_at | to_user_timezone }}</td>
                <td class="govuk-table__cell govuk-!-padding-top-3">{{ file.remaining_time | humanize_timedelta }}</td>
                <td class="govuk-table__cell govuk-!-padding-top-3">
                  {% if file.get_status_text() | lower == 'complete' %}
                    <strong class="govuk-tag govuk-tag--green rb-docs__status govuk-!-margin-top-0">{{ file.get_status_text() }}</strong>
                  {% elif file.get_status_text() | lower == 'deleted' %}
                    <strong class="govuk-tag govuk-tag--red rb-docs__status govuk-!-margin-top-0">{{file.get_status_text()}}</strong>
                  {% else %}
                    <file-status class="govuk-tag govuk-tag--yellow rb-docs__status govuk-!-margin-top-0" data-id="{{file.id}}">{{ file.get_status_text() }}</file-status>
                  {% endif %}
                </td>
                <td class="govuk-table__cell rb-docs__actions">
                  {% if file.get_status_text() | lower != 'deleted' %}
                    {# Removed for now until we've validated a user need for this
                    {{ govukButton(
                      text="Download" + "<span class=\"govuk-visually-hidden\">" + file.name + "</span>",
                      href=file.url,
                      classes="govuk-button--secondary govuk-!-margin-bottom-0",
                      download=True
                    ) }}
                    #}
                    {{ govukButton(
                      text="Remove" + "<span class=\"govuk-visually-hidden\">" + file.name + "</span>",
                      href=url('remove-doc', file.id),
                      classes="govuk-button--warning govuk-!-margin-bottom-0"
                    ) }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}

      <div class="govuk-button-group">
        {{ govukButton(
          text="Add documents",
          href=url('upload'),
          classes="rb-button--blue"
        ) }}
        {% if files %}
          {{ govukButton(
            text="Start chat",
            href=url('chats')
          ) }}
        {% endif %}
      </div>

    </div>
  </div>
</div>

{% endblock %}
