{% set pageTitle = "" %}
{% extends "base.html" %}
{% from "macros/govuk-button.html" import govukButton %}

{% block content %}

<div class="rb-banner">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% if waffle_flag(request, 'uktrade') %}
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Use Artificial Intelligence (AI) to interact with {{ security }} level documents from your own document set</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-7">You may summarise documents, ask questions related to one or more documents, and chat directly with the AI to assist you in your work. You can use up to, and including, Official documents.</p>
                    <div class="rb-banner__links">
                        {% if not request.user.is_authenticated %}
                            {{ govukButton(
                                text="Sign in",
                                href=url('sign-in'),
                                classes="govuk-button--secondary govuk-!-margin-bottom-0 rb-banner__button"
                            ) }}
                        {% endif %}
                    </div>
                {% else %}
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Ask any question of documents in your Redbox</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-7">Use Artificial Intelligence (AI) to get insights from your personal document set. You can use up to, and including, {{ security }} documents.</p>
                    <div class="rb-banner__links">
                        {% if not request.user.is_authenticated %}
                            {{ govukButton(
                                text="Sign in",
                                href=url('sign-in'),
                                classes="govuk-button--secondary govuk-!-margin-bottom-0 rb-banner__button"
                            ) }}
                            {% if allow_sign_ups %}
                                <span class="govuk-body govuk-!-margin-bottom-0">or <a class="govuk-link" href="{{ url('sign-up-page-1') }}">sign up</a> to use Redbox</span>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if not request.user.is_authenticated and not allow_sign_ups %}
                        <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-5">We have paused new users signing up to Redbox. Please add your email to the <a href="https://docs.google.com/forms/d/e/1FAIpQLSev6KZ6ASgz54GKINfk18k_Ygo_hZxcuQrS3v5XzWc4DE1gaw/viewform?usp=sharing">waitlist</a>.</p>
                    {% endif %}
                {% endif %}
                
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-padding-top-5">Upload</h2>
            <p class="govuk-body ">Easily upload a wide range of document formats into your personal Redbox.</p>
            <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-padding-top-5">Chat</h2>
            <p class="govuk-body">You can communicate with your Redbox and ask questions of the documents contained within. Use Redbox to unlock deeper insights in the various documents you have uploaded, pulling together summaries of individual or combined documents.</p>
            <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-padding-top-5">Secure</h2>
            <p class="govuk-body">Redbox is built in our secure and private cloud which enables you to upload, up to, and including, {{ security }} documents in your Redbox.</p>

        </div>
    </div>
</div>

{% endblock %}
