{% set pageTitle = "" %}
{% extends "base.html" %}

{% block content %}

<div class="iai-banner">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Ask any question of documents in your Redbox</h1>
                <p class="govuk-body-l">Use Artificial Intelligence (AI) to get insights from your personal document set. You can use up to, and including, Official Sensitive documents.</p>
                <p class="govuk-body">If you have an account, please <a class="govuk-link" href="{{url('sign-in')}}">sign in</a> to get started</p>
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-heading-m govuk-!-margin-top-5 govuk-!-padding-top-5">Control your box of documents</p>
            <p class="govuk-heading-m govuk-!-margin-top-5 govuk-!-padding-top-5">Ask any question and AI will generate a response</p>
            <p class="govuk-heading-m govuk-!-margin-top-5 govuk-!-padding-top-5">Use up to, and including, Official Sensitive documents</p>
        </div>
    </div>
</div>

{% endblock %}
