{% set pageTitle = "" %}
{% extends "base.html" %}
{% from "macros/govuk-button.html" import govukButton %}

{% block content %}

<div class="rb-banner">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% if waffle_flag(request, 'uktrade') %}
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Use Artificial Intelligence (AI) to interact with {{ security }} level documents from your own document set</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-7">You may summarise documents, ask questions related to one or more documents, and chat directly with the AI to assist you in your work. You can use up to, and including, Official documents.</p>
                    <div class="rb-banner__links">
                        {% if not request.user.is_authenticated %}
                            {{ govukButton(
                                text="Sign in",
                                href=url('sign-in'),
                                classes="govuk-button--secondary govuk-!-margin-bottom-0 rb-banner__button"
                            ) }}
                        {% endif %}
                    </div>
                {% else %}
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Ask any question of documents in your Redbox</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-7">Use Artificial Intelligence (AI) to get insights from your personal document set. You can use up to, and including, {{ security }} documents.</p>
                    <div class="rb-banner__links">
                        {% if not request.user.is_authenticated %}
                            {{ govukButton(
                                text="Sign in",
                                href=url('sign-in'),
                                classes="govuk-button--secondary govuk-!-margin-bottom-0 rb-banner__button"
                            ) }}
                            {% if allow_sign_ups %}
                                <span class="govuk-body govuk-!-margin-bottom-0">or <a class="govuk-link" href="{{ url('sign-up-page-1') }}">sign up</a> to use Redbox</span>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if not request.user.is_authenticated and not allow_sign_ups %}
                        <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-5">We have paused new users signing up to Redbox. Please add your email to the <a href="https://docs.google.com/forms/d/e/1FAIpQLSev6KZ6ASgz54GKINfk18k_Ygo_hZxcuQrS3v5XzWc4DE1gaw/viewform?usp=sharing">waitlist</a>.</p>
                    {% endif %}
                {% endif %}
                
            </div>
        </div>
    </div>
</div>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-padding-top-5">Upload</h2>
            <p class="govuk-body ">Easily upload a wide range of document formats into your personal Redbox.</p>
            <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-padding-top-5">Chat</h2>
            <p class="govuk-body">You can communicate with your Redbox and ask questions of the documents contained within. Use Redbox to unlock deeper insights in the various documents you have uploaded, pulling together summaries of individual or combined documents.</p>
            <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-padding-top-5">Secure</h2>
            <p class="govuk-body">Redbox is built in our secure and private cloud which enables you to upload, up to, and including, {{ security }} documents in your Redbox.</p>

        </div>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--visible">
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-padding-top-5">Frequently Asked Questions</h1>
            <p class="govuk-body ">Responses to these FAQs about Redbox were generated using Redbox.</p>
        </div>
    </div>
    <div class="govuk-accordion" data-module="govuk-accordion" id="faq">
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="faq-question-1">
                        What is Redbox?
                    </span>
                </h2>
            </div>
            <div class="govuk-accordion__section-content" id="faq-content-1">
                <p class="govuk-body">
                    Redbox is a new kind of tool for civil servants which uses Large Language Models (LLMs) to process text-based information.
                    Redbox is currently only available to a small number of DBT staff as the department assesses its usefulness.
                </p>
                <p class="govuk-body">
                    What makes Redbox particularly useful is that it can look at any documents you upload and work with you on them.
                </p>
            </div>
        </div>
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="faq-question-2">
                        What is Generative AI?
                    </span>
                </h2>
            </div>
            <div class="govuk-accordion__section-content" id="faq-content-2">
                <p class="govuk-body">
                    Generative AI is a fairly new kind of algorithmic machine learning based on 'neural architecture'  This architecture allows
                    machine learning models (called large language models in this case) to be trained on large amounts of information, and then
                    be able to converse with a user by 'generating' answers to questions or assisting with text-based processing tasks.
                </p>
            </div>
        </div>
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="faq-question-3">
                        Do I need technical skills to use Redbox?
                    </span>
                </h2>
            </div>
            <div class="govuk-accordion__section-content" id="faq-content-3">
                <p class="govuk-body">
                    Not at all, the interface for Redbox comprises a document upload feature and a chat feature.  No technical skills are required,
                    but an understanding of what large language models are and what they can do makes an enormous different to users when interacting
                    with them.  The principal skill to use Redbox well comes down to a skill called 'prompt engineering', which is just natural language
                    you type in and get the tool to respond.  There are some great Gov.uk short courses on generative AI you may consider taking: 
                    <a href="https://cddo.blog.gov.uk/2024/01/19/artificial-intelligence-introducing-our-series-of-online-courses-on-generative-ai/" class="govuk-link">See the courses here</a>.
                </p>
            </div>
        </div>
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="faq-question-4">
                        What can I and can’t I share with Redbox?
                    </span>
                </h2>
            </div>
            <div class="govuk-accordion__section-content" id="faq-content-4">
                <p class="govuk-body">
                    For the moment, you can share text and documents up to the {{ security }} classification level.  Take care to check before sharing
                    text or documents with Redbox that they do not exceed this designation.
                </p>
                <p class="govuk-body">
                    Alongside this, do not share Personal Data with Redbox, for more information on what constitutes personal data, watch this short
                    <a href="https://dbis.sharepoint.com/sites/DataProtectionOSS/SitePages/Your-guide-to-understanding-personal-data.aspx" class="govuk-link">video</a>.  If
                    you are unsure whether you are processing personal data, you should contact the <a href="https://workspace.trade.gov.uk/teams/data-protection-and-gdpr/" class="govuk-link">Data Protection Team</a>
                     to check.
                </p>
            </div>
        </div>
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="faq-question-5">
                        What is a ‘hallucination’?
                    </span>
                </h2>
            </div>
            <div class="govuk-accordion__section-content" id="faq-content-5">
                <p class="govuk-body">
                    In the context of LLMs, a hallucination refers to the generation of information that is incorrect, nonsensical, or entirely fabricated, despite
                    being presented in a credible manner.  This can happen when the model produces details, facts, or asserts that are not grounded in reality or the
                    data it was trained on, potentialliy leading to misinformation or misunderstanding.
                </p>
            </div>
        </div>
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="faq-question-6">
                        What are the main things Redbox can do? 
                    </span>
                </h2>
            </div>
            <div class="govuk-accordion__section-content" id="faq-content-6">
                <p class="govuk-body">
                    Redbox allows you to chat to a LLM, summarise and interact with documents (up to around 140 pages), and even search within documents.  Here are some 
                    helpful insights into those:
                </p>
                <h4 class="govuk-heading-m govuk-!-margin-top-1">Chat</h4>
                <p class="govuk-body">
                    By using <b>@chat</b> at the beginning of any message you send, you will speak directly with the LLM, gaining access to its 'world model', which is everything
                    it was trained on.
                </p>
                <div class="govuk-inset-text">
                    <p class="govuk-body">
                        <b>Top tip:</b> when you chat with the LLM, all the contents of your current chat are considered by the LLM, and you can switch between chat and other interaction
                        types (more below) in the same chat.
                    </p>
                </div>
                <h4 class="govuk-heading-m govuk-!-margin-top-1">Summarise</h4>
                <p class="govuk-body">
                    By using <b>@summarise</b> at the beginning of any message you send, and ensuring that a document is selected in the left hand panel, you can get the LLM to
                    look at an entire document and summarise it for you.
                </p>
                <div class="govuk-inset-text">
                    <p class="govuk-body">
                        <b>Top tip:</b> like using @chat, using the @summarise feature is very flexible, and you can instruct the LLM to summarise from a particular point of view, or
                    follow a particular kind of format in its response.  Here's an example prompt - imagine you have selected an HR Policy document on taking leave at DBT: <br><br>
                    <i>@summarise this HR policy from the perspective of a line manager, as my line report has asked to take extended leave and I want to know what steps I need to take.</i><br><br>
                    In this example, Redbox will take those instructions into account and generate a response that best fits your requirements.
                    </p>
                </div>
                <h4 class="govuk-heading-m govuk-!-margin-top-1">Search</h4>
                <p class="govuk-body">
                    By using <b>@search</b> at the beginning of any message you send, with any number of documents selected in the side panel, Redbox will search within them
                    for results that relate to the question or instruction given.
                </p>
                <div class="govuk-inset-text">
                    <p class="govuk-body">
                        <b>Top tip:</b> Search is great at finding exact parts of documents which relate to a given theme or topic, and the results will also show you the exact
                        text it found from the documents os you can be sure of accuracy.
                    </p>
                </div>
            </div>
        </div>
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="faq-question-7">
                        What can’t Redbox do? 
                    </span>
                </h2>
            </div>
            <div class="govuk-accordion__section-content" id="faq-content-7">
                <p class="govuk-body">
                    Redbox is limited to its own training data and document processing, as it cannot currently search the internet, making it inadequate for getting reliable real-time information.
                </p>
                <p class="govuk-body">
                    Redbox is not well-suited for tasks that involve precise numerical calculations, counting, or data tabulation, such as those often required in spreadsheets or financial analyses.  They
                    may generate incorrect numerical results or misinterpret mathematical expressions, leading to unrealiable outputs.  Additionally, Redbox struggles with organising and
                    manipulating structured data effectively, as it is primarily designed for language generation rather than data processing.
                </p>
                <p class="govuk-body">
                    This can make Redbox inadequate for tasks requiring accurate data comparison, aggregation, and spreadsheet functions, where human oversight and intervention remain essential
                    for ensuring accuracy and reliability.
                </p>
            </div>
        </div>
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="faq-question-8">
                        Why can Redbox get things wrong? 
                    </span>
                </h2>
            </div>
            <div class="govuk-accordion__section-content" id="faq-content-8">
                <p class="govuk-body">
                    Redbox can get things wrong for several reasons, primarily due to its reliance on patterns found in the training data of the LLM rather than true understanding or 
                    reasoning.  Redbox may generate inaccurate information because they lack context awareness, leading to misinterpretations, especially in complex or nuanced scenarios.
                    Additionally, biases inherent in the LLM training data can result in the propagation of errors, stereotypes, or nonsensical outputs, further compromising the accuracy of Redbox' responses.
                    For more information, read the FAQ section on 'hallucinations' above.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
