{% set pageTitle = "Digital Confidence" %}
{% extends "base.html" %}
{% from "macros/govuk-button.html" import govukButton %}

{% block content %}

  <div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Digital Confidence</h1>
        <p class="govuk-body-l">Step 2 of 3</p>
      </div>
    </div>

    {% if form.errors %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% for field, error in form.errors.items() %}
                <li>{{ field }} : {{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

    <form method='post'>

      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            {{ form.ai_experience.label }}
          </legend>
          <div class="govuk-radios">
            {% for value, label in form.ai_experience.field.choices %}
              {% if value %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" type="radio"
                        id="ai_experience_{{ loop.index0 }}"
                        name="{{ form.ai_experience.name }}"
                        value="{{ value }}"
                        {% if value|string == form.ai_experience.value()|string %}checked{% endif %}
                        aria-describedby="ai_experience_{{ loop.index0 }}-hint">
                  <label class="govuk-label govuk-radios__label"
                        for="ai_experience_{{ loop.index0 }}">
                    {{ value }}
                  </label>
                  <div id="ai_experience_{{ loop.index0 }}-hint" class="govuk-hint govuk-radios__hint">{{ label }}</div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        {{ govukButton(text="Continue") }}
      </div>

    </form>

  </div>

{% endblock %}
