{% set pageTitle = "Welcome" %}
{% extends "base.html" %}
{% from "macros/govuk-button.html" import govukButton %}

{% block content %}

  <div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Welcome to your Redbox!</h1>
        <p class="govuk-body-l">Generative AI up to OFFICIAL-SENSITIVE</p>
        <p class="govuk-body">We're excited to have you join the community of early Redbox users! <span aria-hidden="true">🎉</span></p>
        <p class="govuk-body">Redbox is a Beta service that allows you to securely chat to an LLM with content up to OFFICIAL-SENSITIVE.</p>
        
        <h2 class="govuk-heading-m"><span aria-hidden="true">🌱</span> Being an early Redbox user</h2>
        <p class="govuk-body">We need your help to make Redbox an effective tool for Civil Servants:</p>
        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li><span aria-hidden="true">💼</span> <strong>Use Redbox as much as possible</strong> - this will help us improve your experience</li>
          <li><span aria-hidden="true">⭐</span> <strong>Rate Redbox's responses</strong> - use the star rating at the bottom of each chat message</li>
          <li><span aria-hidden="true">💬</span> <strong>Send us detailed comments and feedback</strong> - post a message in the <a class="govuk-link" href="https://chat.google.com/room/AAAAoEi1_cI?cls=7">Redbox User Community (Google Chat)</a></li>
          <li><span aria-hidden="true">📋</span> <strong>Engage in surveys and research sessions</strong> - this helps us understand, in-depth, how Redbox is being used</li>
        </ul>

        <h2 class="govuk-heading-m"><span aria-hidden="true">🏗️</span> Redbox is in private beta</h2>
        <p class="govuk-body">This means it is being actively developed and iterated. You might experience a bit of downtime or find that data, including documents, may be deleted unexpectedly.</p>

        <h2 class="govuk-heading-m"><span aria-hidden="true">🚀</span> Ready to get started?</h2>
        <p class="govuk-body">Here are a few ideas to start your Redbox journey:</p>
        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li>Write a response to an email</li>
          <li>Draft a report</li>
          <li>Analyse a policy document</li>
          <li>Produce a summary report</li>
        </ul>

        <h2 class="govuk-heading-m"><span aria-hidden="true">⚠️</span> Mandatory safety warning</h2>
        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li>Please do not upload documents above OFFICIAL SENSITIVE. Redbox is not yet deployed at SECRET or TOP SECRET</li>
          <li>Please do not upload anything containing personal data</li>
        </ul>

        <div class="govuk-button-group govuk-!-margin-top-6">
          {{ govukButton(text="Log in to your Redbox", href=url('log-in')) }}
        </div>

      </div>
    </div>

  </div>

{% endblock %}
