$govuk-assets-path: "govuk-assets/";
$govuk-font-family: sans-serif;
$redbox-red: #9c0000; /*old:#A50202*/

@import "../node_modules/govuk-frontend/dist/govuk/all";

body {
  background-color: white;
  margin: 0;
}

/* All pages */
.rb-classification-banner {
  background-color: #2b71c7;
  color: white;
  font-size: 0.875rem;
  padding: 0.25rem 1rem;
  text-align: center;
}

.rb-environment-warning {
  background-color: #ffbf47;
  color: black;
  margin-bottom: 0;
}

.govuk-phase-banner__content__tag {
  background-color: govuk-colour("blue");
  color: white;
}

.rb-button--blue {
  background-color: govuk-colour("blue");
}
.rb-button--blue:hover {
  background-color: govuk-colour("dark-blue");
}

/* Home page */
.govuk-main-wrapper:has(.rb-banner) {
  padding-top: 0;
}
.rb-banner {
  background-color: $redbox-red;
  color: white;
  padding-bottom: 3rem;
  padding-top: 2.75rem;
}
.rb-banner * {
  color: white;
}
.rb-banner .govuk-link:any-link {
  color: white;
}
.rb-banner .govuk-link:focus {
  background-color: white;
  color: black;
}
.rb-banner__links {
  align-items: center;
  display: flex;
  gap: 0.75rem;
}
.rb-banner__button {
  background-color: white !important;
}
.rb-banner__button:hover {
  color: $redbox-red !important;
  filter: brightness(0.9);
}

/* File upload */
.rb-file-types {
  font-size: 0.875rem;
}
upload-button {
  display: block;
}

/* Citations page */
.rb-citations__list {
  padding-left: 1rem;
}
.rb-citations__item {
  border-top: 1px solid #e5e7eb;
  padding: 2rem 0 1.5rem 0;
}
.rb-citations__item:first-child {
  border-top: none;
}

/* i.AI Design System */
:root {
  --iai-product-colour: #9c0000;
  --iai-top-nav-gradient-colour-1: #9c0000;
  --iai-top-nav-gradient-colour-2: #451818;
  --iai-background-colour-1: #f6eef0;
  --iai-background-colour-2: #f8f8f8;
}
@import "../node_modules/i.ai-design-system/dist/styles.scss";

/* Documents page - to come after i.AI Design System */
.rb-doc-retention {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
.iai-doc-list {
  display: none;
}
.iai-doc-list:has(.iai-doc-list__item) {
  display: block;
}
.rb-docs__show-if-docs {
  display: none;
}
.rb-docs:has(.iai-doc-list__item) .rb-docs__show-if-docs {
  display: block;
}
.rb-docs:has(.iai-doc-list__item) .rb-docs__show-if-no-docs {
  display: none;
}
.rb-docs__upload-error {
  align-items: center;
  display: none;
  font-size: 0.875rem;
  gap: 0.75rem;
  line-height: 1.4;
}
.rb-docs__upload-error svg {
  color: var(--iai-product-colour);
}
.rb-docs:has(file-status[data-status*="error"]) .rb-docs__upload-error {
  display: flex;
}

/* Citations Page */
.rb-back-link {
  color: var(--iai-colour-text-primary);
  text-decoration: none;
}


/* Chats Page - to come after i.AI Design System */
@import "./chat-styles.scss";

@import "./profile-overlay-styles.scss";

/* To move to i.AI design system */
.iai-chat-bubbles__sources-link:visited {
  color: var(--iai-product-colour, var(--iai-colour-brand));
}
