# === LLM  ===
# Not developed yet 
ANTHROPIC_API_KEY=

# Choose one of using an OPEN AI key 
OPENAI_API_KEY=

# Or an Azure Open AI endpoint
AZURE_OPENAI_MODEL=
OPENAI_API_VERSION=2024-02-01 

LLM_MAX_TOKENS=1024

# === Development ===

DEV_MODE=true

# Langfuse
LANGFUSE_SECRET_KEY=sk-lf-878345f5-fa2c-46f0-8193-d6be00910ab0
LANGFUSE_PUBLIC_KEY=pk-lf-6f517f1f-3fd0-4b00-9c2d-e9756132cc11
LANGFUSE_HOST="http://localhost:3000"

# === Database ===

ELASTIC__VERSION=8.11.0
ELASTIC__USER=elastic
ELASTIC__PASSWORD=redboxpass
ELASTIC__PORT=9200
ELASTIC__SCHEME=http
ELASTIC__SUBSCRIPTION_LEVEL=basic

KIBANA_SYSTEM_PASSWORD=redboxpass
METRICBEAT_INTERNAL_PASSWORD=redboxpass
FILEBEAT_INTERNAL_PASSWORD=redboxpass
HEARTBEAT_INTERNAL_PASSWORD=redboxpass
MONITORING_INTERNAL_PASSWORD=redboxpass
BEATS_SYSTEM_PASSWORD=redboxpass

# === Embedding ===
EMBEDDING_MODEL=
EMBEDDING_AZURE_OPENAI_ENDPOINT=
EMBEDDING_OPENAI_API_KEY=

# === Object Storage ===

MINIO_PORT=9000
AWS_ACCESS_KEY=minioadmin
AWS_SECRET_KEY=minioadmin

AWS_REGION=eu-west-2

# minio or s3
OBJECT_STORE=minio
BUCKET_NAME=redbox-storage-dev

# === Django App ===

DJANGO_SETTINGS_MODULE=redbox_app.settings
DEBUG=True
DJANGO_SECRET_KEY=1n53cur3K3y
DJANGO_LOG_LEVEL=DEBUG
ENVIRONMENT=LOCAL
POSTGRES_USER=redbox-core
POSTGRES_DB=redbox-core
POSTGRES_PASSWORD=insecure
CONTACT_EMAIL=redbox-support@cabinetoffice.gov.uk
EMAIL_BACKEND_TYPE=CONSOLE
GOV_NOTIFY_API_KEY=f4k3_k3y
FROM_EMAIL=test@example.com
GOVUK_NOTIFY_PLAIN_EMAIL_TEMPLATE_ID=example-id
EMAIL_FILE_PATH='/app/mail'
FILE_EXPIRY_IN_DAYS=30
ALLOW_SIGN_UPS=True
DJANGO_API_HOST=http://localhost:8090

# === Playwright Tests ===

USER_EMAIL=

# === Security classifications ===
# The maximum security classification permitted for the app to handle

# OFFICIAL, OFFICIAL_SENSITIVE, SECRET or TOP_SECRET
MAX_SECURITY_CLASSIFICATION=OFFICIAL_SENSITIVE
