langchain
langchain-community
pgvector
boto3
openai
psycopg2-binary
tiktoken
pydantic
pydantic-settings
anthropic
chromadb
sentence-transformers
google-generativeai
litellm
fastapi
streamlit
lxml
PyPDF2
pre-commit
pyprojroot
python-dotenv
unstructured[all-docs]
html2markdown
retry
loguru
opencv-python-headless
streamlit-feedback
cognitojwt[sync]
duckduckgo-search
elasticsearch
torch
