{% extends "layouts/main1.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
Activity history
{% endblock %}

{% block content %}

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Activity history</h1>
    </caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Time</th>
        <th scope="col" class="govuk-table__header">Action</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for log in data.logs %}
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{log.time}}</td>
        <td class="govuk-table__cell">{{log.action|safe}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}