{% extends "layouts/main1.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set prototype = "1" %}

{% block pageTitle %}
Chat
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">{{serviceName}}</h1>

{# Count selected documents #}
{% set docCount = 0 %}
{% for doc in data.docs %}
  {% if doc.selected %}
    {% set docCount = docCount + 1 %}
  {% endif %}
{% endfor %}

<source-selector class="iai-source-selector">
  <div class="govuk-form-group govuk-!-margin-bottom-2">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Data source</legend>
      <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="source-2" name="source" type="radio" value="claude" aria-describedby="source-2-item-hint" {% if data.dataSource == "claude" or docCount == 0 %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="source-2">Large Language Model (LLM)</label>
              <div id="source-2-item-hint" class="govuk-hint govuk-radios__hint">For general queries not using your documents</div>
            </div>
          </div>
          <div class="govuk-grid-column-one-half">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="source" name="source" type="radio" value="docs" aria-describedby="source-item-hint" {% if data.dataSource == "docs" %}checked{% endif %}>
              <label class="govuk-label govuk-radios__label" for="source">Selected documents</label>
              <div id="source-item-hint" class="govuk-hint govuk-radios__hint">You have {{docCount}} document{% if docCount != 1 %}s{% endif %} selected</div>
            </div>
          </div>
          </div>
        </div>
    </fieldset>
  </div>
  <div class="govuk-grid-row iai-source-selector__links">
    <div class="govuk-grid-column-one-half">
      <a href="#about-llm">Find out more about the LLM you are interacting with</a>
    </div>
    <div class="govuk-grid-column-one-half">
      <a href="documents">Change selected documents</a>
    </div>
  </div>
</source-selector>

<div class="govuk-grid-row govuk-!-margin-top-3">

    <div class="govuk-grid-column-one-third">
        {{ govukButton({
          text: "Ask a new query",
          href: "/new-chat?prototype=" + prototype,
          classes: "govuk-button--secondary"
        }) }}
        <h2 class="govuk-heading-s">Recent conversations</h2>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          {% for i in range(1, 6) %}
            {% set chat = data.chats[data.chats.length - i] %}
            {% if chat %}
              <li><a class="govuk-link" href="/{{prototype}}/chat?chat-index={{index}}">{{chat.title}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        {% if data.chats.length > 5 %}
          <a href="activity-history">View older conversations</a>
        {% endif %}
    </div>

    <div class="govuk-grid-column-two-thirds">

        {% if data['chat-index'] != -1 %}
          {% set chat = data.chats[data['chat-index']] %}
        {% endif %}

        <h2 class="govuk-heading-m">Current conversation: {{chat.title}}</h2>
        {# The UI for this section is loosely based on
        https://insidegovuk.blog.gov.uk/2024/01/18/experimenting-with-how-generative-ai-could-help-gov-uk-users/ #}

        {% for message in chat.messages %}
        <div>
            <p class="iai-message-header govuk-heading-s">
                <span class="iai-message-icon iai-message-icon--{{message.from}}"></span>
                {% if message.from == 'user' %}You:{% endif %}
                {% if message.from == 'redbox' %}{{serviceName}}:{% endif %}
            </p>
            <div class="iai-message-content govuk-body">
              {{message.text|safe}}
            </div>
        </div>
        {% endfor %}

        <form class="iai-new-message" action="/message" method="post">
            <input type="hidden" name="prototype" value="{{prototype}}"/>
            {{ govukTextarea({
              name: "new-message",
              id: "new-message",
              label: {
                text: "Write a message:"
              },
              classes: "govuk-!-margin-bottom-0"
            }) }}
            {{ govukButton({
              text: "Chat"
            }) }}
        </form>

    </div>

</div>

{% endblock %}