{% extends "layouts/standard.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
Sign up - step 2
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Enable 2 factor authentication
                        </h1>
                    </legend>
                    <div id="contact-hint" class="govuk-hint">
                        Select one option
                    </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email"
                                   data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-radios__label" for="contact">
                                Receive a code via Email
                            </label>
                        </div>
                        <div id="conditional-contact"></div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone"
                                   data-aria-controls="conditional-contact-2">
                            <label class="govuk-label govuk-radios__label" for="contact-2">
                                Receive a code to my Phone
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                             id="conditional-contact-2">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="contact-by-phone">
                                    Phone number
                                </label>
                                <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone"
                                       name="contactByPhone" type="tel" autocomplete="tel">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            {{ govukButton({
            text: "Continue",
            href: "/1/sign-up-3"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
