{% set pageTitle = "Documents" %}
{% extends "base.html" %}
{% from "macros/govuk-button.html" import govukButton %}
{% from "macros/iai-doc-list.html" import iaiDocList %}

{% block content %}

<script src="{{ static('js/documents.js') }}"></script>

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% if ingest_errors %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There was a problem uploading some documents
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% for error in ingest_errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}

      <h1 class="govuk-heading-l govuk-!-margin-top-5">Your documents</h1>

      <p class="govuk-body-l">Manage documents to use with your Redbox.</p>
      <p class="govuk-body">Redbox generates a response using only the documents you upload. This is different to other Large Language Models (LLM) such as ChatGPT and&nbsp;Claude.</p>

      {#
      <div class="rb-doc-retention govuk-!-margin-bottom-5">
        <img width="32" height="32" src="{{ static('images/icon-30-days.png') }}" loading="lazy" alt=""/>
        <p class="govuk-body-s govuk-!-margin-bottom-0">Documents will be stored for up to 30 days.</p>
      </div>
      #}

      {# New Docs list #}
      {% if completed_files or processing_files %}
        <h2 class="govuk-heading-m">Ready to use</h2>
        <p>These documents are ready to chat with. Documents are deleted after 30 days</p>
        <doc-list>
          {{ iaiDocList(
            docs = completed_files,
            type = "complete"
          ) }}
        </doc-list>
      {% endif %}

      {% if processing_files %}
        <h2 class="govuk-heading-m govuk-!-margin-top-7">Processing</h2>
        <p>These documents will not be included in chat responses</p>
        {{ iaiDocList(
          docs = processing_files,
          type = "processing"
        ) }}
      {% endif %}

      <div class="govuk-button-group govuk-!-margin-top-7">
        {% if completed_files or processing_files %}
          {{ govukButton(
            text="Start chat",
            href=url('chats')
          ) }}
          {{ govukButton(
            text="Add documents",
            href=url('upload'),
            classes="govuk-button--secondary"
          ) }}
        {% else %}
          {{ govukButton(
            text="Add documents",
            href=url('upload')
          ) }}
        {% endif %}
      </div>

    </div>
  </div>
</div>

{% endblock %}
