{% extends "base.html" %}

{% set pageTitle = "Privacy notice" %}


{% block content %}

<div class="govuk-width-container iai-grid">
  <div class="iai-grid__start-3-span-8">

    <h1 class="govuk-heading-l">Privacy notice for Redbox</h1>
    <div class="govuk-body">
      <p class="govuk-body-l">This notice sets out how we will use your personal data, and your rights. It is made under Articles 13 and/or 14 of the UK General Data Protection Regulation (UK GDPR).</p>

      <h2 class="govuk-heading-m">Your data</h2>
      <h3 class="govuk-heading-s">Purpose</h3>
      <p class="govuk-body">The purposes for which we are processing your personal data are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>enabling login to the platform</li>
        <li>information will be aggregated and used for anonymous further analysis</li>
      </ul>

      <h3 class="govuk-heading-s">The data</h3>
      <p class="govuk-body">We will process the following personal data:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>organisational email address</li>
      </ul>


      <h3 class="govuk-heading-s">Legal basis of processing</h3>
      <p class="govuk-body">The legal basis for processing your personal data is:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>data subject consents</li>
      </ul>

      <h3 class="govuk-heading-s">Recipients</h3>
      <p class="govuk-body">Your personal data will be shared by us with analysts/researchers within the Cabinet Office if you have consented to be contacted further about Redbox.</p>
      <p class="govuk-body">As your personal data will be stored on our IT infrastructure it will also be shared with our data processors who provide email, and document management and storage services.</p>

      <h3 class="govuk-heading-s">Retention</h3>
      <p class="govuk-body">Your personal data will be retained for 12 months after account inactivity. At that point we will delete your email address, depersonalising the data we hold. If you have provided us consent to contact you, we will retain your email until <DATE> and continue sharing it with evaluators so they can conduct research on the long term impact of Redbox.</p>

      <h3 class="govuk-heading-s">Your rights</h3>
      <p class="govuk-body">You have the right to request information about how your personal data are processed, and to request a copy of that personal data.</p>
      <p class="govuk-body">You have the right to request that any inaccuracies in your personal data are rectified without delay.</p>
      <p class="govuk-body">You have the right to request that any incomplete personal data are completed, including by means of a supplementary statement.</p>
      <p class="govuk-body">You have the right to request that your personal data are erased if there is no longer a justification for them to be processed.</p>
      <p class="govuk-body">You have the right in certain circumstances (for example, where accuracy is contested) to request that the processing of your personal data is restricted.</p>
      <p class="govuk-body">You have the right to object to the processing of your personal data where it is processed for direct marketing purposes.</p>
      <p class="govuk-body">You have the right to withdraw consent to the processing of your personal data at any time.</p>

      <h3 class="govuk-heading-s">International transfers</h3>
      <p class="govuk-body">As your personal data is stored on our IT infrastructure, and shared with our data processors, it may be transferred and stored securely outside the UK. Where that is the case it will be subject to equivalent legal protection through an adequacy decision or reliance on Standard Contractual Clauses.</p>

      <h3 class="govuk-heading-s">Complaints</h3>
      <p class="govuk-body">If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information Commissioner, who is an independent regulator.  The Information Commissioner can be contacted at:  Information Commissioner's Office, Wycliffe House, Water Lane, Wilmslow, Cheshire, SK9 5AF, or 0303 123 1113, or <a href="mailto:icocasework@ico.org.uk" class="govuk-link">icocasework@ico.org.uk</a>.  Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts.</p>

      <h3 class="govuk-heading-s">Contact details</h3>
      <p class="govuk-body">The data controller for your personal data is the Cabinet Office. The contact details for the data controller are: Cabinet Office, 70 Whitehall, London, SW1A 2AS, or 0207 276 1234, or <a href="mailto:publiccorrespondence@cabinetoffice.gov.uk" class="govuk-link">publiccorrespondence@cabinetoffice.gov.uk</a>.</p>
      <p class="govuk-body">The contact details for the data controller's Data Protection Officer are: <a href="mailto:dpo@cabinetoffice.gov.uk" class="govuk-link">dpo@cabinetoffice.gov.uk</a>.</p>
      <p class="govuk-body">The Data Protection Officer provides independent advice and monitoring of Cabinet Office's use of personal information.</p>

      <h2 class="govuk-heading-m">Changes to this notice</h2>
      <p class="govuk-body">We may change this privacy notice. When we make changes to this notice, the "last updated" date at the bottom of this page will also change. Any changes to this privacy notice will apply to you and your data immediately. If these changes affect how your personal data is processed, Cabinet Office will take reasonable steps to make sure you know.</p>
      <p class="govuk-body">Last updated: 16th April 2024</p>

  </div>
</div>

{% endblock %}
