$govuk-assets-path: "govuk-assets/";
$govuk-font-family: sans-serif;
$redbox-red: #9c0000; /*old:#A50202*/

@import "../../node_modules/govuk-frontend/dist/govuk/all";

body {
  background-color: white;
  margin: 0;
}

/* All pages */
.rb-classification-banner {
  background-color: #2b71c7;
  color: white;
  font-size: 0.875rem;
  padding: 0.25rem 1rem;
  text-align: center;
}

.rb-environment-warning {
  background-color: #ffbf47;
  color: black;
  margin-bottom: 0;
}

.govuk-phase-banner__content__tag {
  background-color: govuk-colour("blue");
  color: white;
}

.rb-button--blue {
  background-color: govuk-colour("blue");
}
.rb-button--blue:hover {
  background-color: govuk-colour("dark-blue");
}

/* Home page */

.rb-banner h1 {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  margin: 3rem 0;
}
.rb-banner h1 img {
  width: 4.5rem;
}
.rb-banner .govuk-link:focus {
  background-color: white;
  color: black;
}
.rb-banner__links {
  align-items: center;
  display: flex;
  gap: 0.75rem;
}
.rb-banner__button {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  width: auto;
}


@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
.rb-icon--animated {
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-name: rotateIcon;
}
@media (prefers-reduced-motion) {
  .rb-icon--animated {
    animation: none;
  }
}


/* sign-up pages */
.rb-accessibility-heading {
  align-items: center;
  display: flex;
  gap: 0.375rem;
}

/* i.AI Design System */
:root {
  --iai-product-colour: #9c0000;
  --iai-top-nav-gradient-colour-1: #9c0000;
  --iai-top-nav-gradient-colour-2: #451818;
  --iai-background-colour-1: #f6eef0;
  --iai-background-colour-2: #f8f8f8;
}
@import "../../node_modules/i.ai-design-system/dist/styles.scss";


@import "./profile.scss";

/* Chats Page - to come after i.AI Design System */
@import "./chats/chats.scss";

/* Print styles */
@import "./print.scss";
