{% extends "layouts/main1.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set prototype = '1' %}

{% set title = "Documents" %}
{% block pageTitle %}
{{title}}
{% endblock %}

{% block content %}

<data-sources data-type="docs">
    <table class="govuk-table iai-doclist">
        <caption class="govuk-table__caption govuk-table__caption--m">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Existing documents</h2>
            <span class="iai-table-info">Documents will be stored for a maximum of 30 days.</span>
        </caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header iai-doclist__selected">Selected</th>
            <th scope="col" class="govuk-table__header">Document name</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Date uploaded</th>
            <th scope="col" class="govuk-table__header iai-doclist__actions">Actions</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for doc in data.docs %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="doc{{loop.index}}" name="doc{{loop.index}}"
                               type="checkbox" value="doc{{loop.index}}" {% if doc.selected %}checked{% endif %}>
                        <label class="govuk-label govuk-checkboxes__label" for="doc{{loop.index}}">
                            <span class="govuk-visually-hidden">Select</span>
                        </label>
                    </div>
            </td>
            <td class="govuk-table__cell iai-doclist__doc-name">{{doc.name}}</td>
            <td class="govuk-table__cell govuk-!-padding-top-3">
                {% if doc.processedPercent == 100 %}
                    {{ govukTag({
                        text: 'Ready'
                    }) }}
                {% else %}
                    <doc-status data-processed="{{doc.processedPercent}}" data-index="{{loop.index0}}">
                        {{ govukTag({
                            text: 'Processing'
                        }) }}
                    </doc-status>
                {% endif %}
            </td>
            <td class="govuk-table__cell iai-doclist__doc-name">{{doc.dateUploaded}}</td>
            <td class="govuk-table__cell">
                {#
                <div class="govuk-button-group">#}
                    {{ govukButton({
                    text: "Summarise",
                    href: "/" + prototype + "/summary?doc-index=" + loop.index0,
                    classes: "govuk-button--secondary"
                    }) }}
                    {{ govukButton({
                    text: "Remove",
                    href: "remove-doc?doc-index=" + loop.index0,
                    classes: "govuk-button--warning"
                    }) }}
                    {#
                </div>
                #}
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <div class="js-global-doc-buttons">
              {{ govukButton({
                text: "Summarise selected documents",
                href: "/" + prototype + "/summary?doc-index=-1",
                classes: "govuk-button--secondary"
              }) }}
              {{ govukButton({
                text: "Chat with selected documents",
                href: "/" + prototype + "/chat?doc-index=-1",
                classes: "govuk-button--secondary"
              }) }}
            </div>
          </td>
        </tr> 
      </tfoot>
    </table>
</data-sources>

<form class="iai-upload" action="/upload" method="post">
    <h2 class="govuk-heading-m">Upload document</h2>
    <input type="hidden" name="redirect-url" value="/{{prototype}}/documents"/>
    {{ govukFileUpload({
    id: "file-upload",
    name: "fileUpload",
    label: {
    text: "Upload a file"
    }
    }) }}
    {{ govukButton({
    text: "Upload"
    }) }}

    {# Limit 200MB per file • EML, HTML, JSON, MD, MSG, RST, RTF, TXT, XML, CSV, DOC, DOCX, EPUB, ODT, PDF, PPT, PPTX,
    TSV, XLSX, HTM #}
</form>

{% endblock %}