{% set pageTitle = "Sign in - confirmation" %}

{% extends "base.html" %}
{% from "macros/govuk-button.html" import govukButton %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <h1 class="govuk-heading-l">Sign in - error</h1>
      <p class="govuk-body">There was a problem signing in: {{ error }}</p>
      <p class="govuk-body">Please try to <a class="govuk-link" href="{{ url('sign-in') }}">sign in</a> again.</p>
  
    </div>
  </div>
</div>

{% endblock %}
