{% set pageTitle = "Sign in - confirmation" %}

{% extends "base.html" %}
{% from "macros/govuk-button.html" import govukButton %}

{% block content %}
<script src="{{ static('js/autosubmit.js') }}"></script>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Welcome to your Redbox</h1>

      <form method="POST" action="{{ link.get_absolute_url() }}">
        {{ csrf_input }}

        {{ govukButton(text="Start") }}

      </form>

    </div>
  </div>
</div>

{% endblock %}
