{% set pageTitle = "Sign in - confirmation" %}

{% extends "base.html" %}
{% from "macros/govuk-button.html" import govukButton %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Sign in - confirmation</h1>

    <form method="POST" action="{{ link.get_absolute_url }}">

      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

      {{ govukButton(text="Sign in") }}

    </form>
  
  </div>
</div>

{% endblock %}
