:root {
    --iai-pink: #b62777;
}

.govuk-header__container {
    border-color: var(--iai-pink);
}
.govuk-phase-banner__content__tag {
    background-color: var(--iai-pink);
    color: white;
}

// Documents page
.iai-table-info {
    display: block;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 0.5rem;
}
.iai-doclist a, .iai-doclist button {
    margin-bottom: 0.5rem;
}
.iai-doclist__selected {
    width: 6rem;
}
.iai-doclist__doc-name {
    word-break: break-word;
    padding-top: 1rem;
}
.iai-doclist__checkbox {
    height: 32px;
    padding-bottom: 8px;
}
@media (min-width: 641px) {
    .iai-doclist a, .iai-doclist button {
        margin-bottom: 0;
    }
    .iai-doclist__doc-name {
        padding-top: 0.625rem;
        vertical-align: middle;
    }
}
@media (min-width: 768px) {
    .iai-doclist__actions {
        min-width: 210px;
    }
}

.iai-processing .govuk-checkboxes, .iai-processing .govuk-button--secondary {
    visibility: hidden;
}
doc-status .govuk-tag--yellow {
    min-width: 140px;
}


// Ask Box page
.iai-source-selector {
    border: 2px solid;
    display: block;
    margin-bottom: 2rem;
    padding: 1.5rem 1rem 1rem 1rem;
}
.iai-source-selector .govuk-form-group {
    margin-bottom: 0;
}
.iai-source-selector .govuk-radios--inline {
    flex-wrap: nowrap;
}
.iai-source-selector__links a {
    display: block;
    margin-left: 34px;
    margin-top: 0.75rem;
}
.iai-message-header {
    align-items: center; 
    display: flex;
    margin-bottom: 0.5rem;
}
.iai-message-icon {
    border-radius: 100%; 
    height: 1.5rem; 
    margin-right: 0.5rem; 
    width: 1.5rem;
}
.iai-message-icon--redbox {
    background-color: var(--iai-pink);
}
.iai-message-icon--user {
    background-color: $govuk-brand-colour;
}
.iai-message-content {
    background-color: govuk-colour("light-grey");
    margin-bottom: 1rem;
    padding: 0.75rem;
}
.iai-message-content dl {
    font-size: 1rem;
}
.iai-message-content dt {
    display: inline-block;
    font-weight: bold;
}
.iai-message-content dd {
    display: inline-block;
    margin-left: 0.5rem;
}
.iai-new-message .govuk-form-group {
    margin-bottom: 0.5rem;
}
@media (min-width: 641px) {
    .iai-source-selector__links {
        display: flex;
        gap: 1.5rem;
    }
}


// View Doc page
.iai-pdf-viewer {
    min-height: 24rem;
    width: 100%;
}
@media (min-width: 641px) {
    .iai-pdf-viewer {
        min-height: 50rem;
    }
}

// *** PROTOTYPE 2 ***
.iai-upload {
    border: 1px solid;
    display: block;
    margin-bottom: 2rem;
    padding: 1.5rem 1rem 0 1rem;
}