{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set title = "Ask the Box" %}
{% block pageTitle %}
{{title}}
{% endblock %}

{% block content %}

<source-selector class="iai-source-selector">
    {{ govukRadios({
    classes: "govuk-radios--inline govuk-radios--small",
    name: "source",
    fieldset: {
    legend: {
    text: "What sources should the AI use?",
    isPageHeading: false,
    classes: "govuk-fieldset__legend--m"
    }
    },
    items: [
    {
    value: "my-docs",
    text: "My documents",
    hint: {
    text: "This is the Redbox Copilot functionality"
    }
    },
    {
    value: "all-data",
    text: "All data",
    hint: {
    text: "This is the Ask AI functionality"
    }
    }
    ]
    }) }}
</source-selector>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Conversations</h2>
        {{ govukButton({
        text: "Start a new conversation",
        href: "#new",
        classes: "govuk-button--secondary"
        }) }}
        <h3 class="govuk-heading-s">Previous conversations</h3>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            {% for chat in data.chats | reverse %}
            <li><a class="govuk-link" href="#conversation{{loop.index0}}">{{chat.title}}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Current conversation</h2>
        {# The UI for this section is loosely based on
        https://insidegovuk.blog.gov.uk/2024/01/18/experimenting-with-how-generative-ai-could-help-gov-uk-users/ #}

        <div>
            <p class="iai-message-header govuk-heading-s">
                <span class="iai-message-icon iai-message-icon--user"></span> You:
            </p>
            <div class="iai-message-content">
                <p>This is a sample question I asked just now. Please give me a summary.</p>
            </div>
        </div>

        <div>
            <p class="iai-message-header govuk-heading-s">
                <span class="iai-message-icon iai-message-icon--redbox"></span> Redbox Copilot:
            </p>
            <div class="iai-message-content">
                <p>This is the Redbox Copilot response.</p>
                <p>Testing multiple paragraphs with content that could wrap over several lines. Testing multiple
                    paragraphs with content that could wrap over several lines.</p>
            </div>
        </div>

        <form class="iai-new-message">
            {{ govukTextarea({
            name: "new-message",
            id: "new-message",
            label: {
            text: "Write a message:"
            },
            classes: "govuk-!-margin-bottom-0"
            }) }}
            {{ govukButton({
            text: "Send"
            }) }}
        </form>
    </div>

</div>

{% endblock %}