{% macro profile_overlay(csrf_token, user, show_on_load=False) %}

  <profile-overlay {% if show_on_load %}data-show="true"{% endif %}>
    <dialog class="profile" aria-labelledby="profile-overlay-title">
      <form>

        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
      
        <div class="profile-page">
          <h2 id="profile-overlay-title">Redbox can give better responses if you tell it about yourself.</h2>
          <button class="profile__button-next" data-action="skip" type="button" autofocus>
            <span>Start</span>
            <span>1 of 3 Name</span>
          </button>
        </div>
        
        <div class="profile-page">
          <label class="profile-label" for="profile-name">Full name</h2>
          <input id="profile-name" name="name" type="text" required value="{{ user.name if user.name }}" />
          <button class="profile__button-next" data-action="next" type="button">
            <span>Next</span>
            <span>2 of 3 Experience</span>
          </button>
          <div class="profile-nav-button-container">
            <button class="profile__button-previous" data-action="previous" type="button">Previous</button>
            <button class="profile__button-skip" data-action="skip" type="button">Skip</button>
          </div>
        </div>
        
        <div class="profile-page">
          <fieldset class="profile__radio-container-outer">
            <legend class="profile-label">Which level best describes your experience with Generative AI tools?</legend>
            <div class="profile__radio-container-inner">

              {% set selected_level = user.ai_experience %}
              {% for level in user.AIExperienceLevel %}
                <div>
                  <input class="profile__radio" type="radio" id="profile-experience-1" name="ai_experience" value="{{ level }}" required {% if level == selected_level %}checked{% endif %} />
                  <label class="profile__radio-card" for="profile-experience-1">{{ level }}</label>
                </div>
              {% endfor %}
            </fieldset>
            <button type="button" data-action="next">
              <span>Next</span>
              <span>3 of 3 Voice</span>
            </button>
            <div class="profile-nav-button-container">
              <button class="profile__button-previous" data-action="previous" type="button">Previous</button>
              <button class="profile__button-skip" data-action="skip" type="button">Skip</button>
            </div>
          </div>
        </div>

        <div class="profile-page">
          <label class="profile-label" for="profile-about-you" aria-describedby="profile-about-you-info">What do you want Redbox to know about you?</h2>
          <span id="profile-about-you-info">(your job role, context it should allow for, etc.)</span>
          <textarea class="profile__textarea" id="profile-about-you" name="info_about_user" required>{{ user.info_about_user if user.info_about_user }}</textarea>
          <label class="profile-label" for="profile-response-style">How do you want Redbox to respond?</h2>
          <textarea class="profile__textarea" id="profile-response-style" name="redbox_response_preferences" required>{{ user.redbox_response_preferences if user.redbox_response_preferences }}</textarea>
          <button type="button" data-action="next">Finish</button>
          <div class="profile-nav-button-container">
            <button class="profile__button-previous" data-action="previous" type="button">Previous</button>
            <button class="profile__button-skip" data-action="skip" type="button">Skip</button>
          </div>
        </div>

        <div class="profile-page">
          <button class="profile__button-close" data-action="close" type="button" aria-label="close">X</button>
          <h2>Profile updated</h2>
          <p>Redbox will now be able to give better responses based on what you've said.</p>
          <p>View or update your profile at any time</p>
          <button class="profile__button-finish" data-action="close" type="button">Continue to chat</button>
        </div>

      </form>
    </dialog>
  </profile-overlay>

{% endmacro %}