{% extends "layouts/main2.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = "Home" %}
{% block pageTitle %}
{{title}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Welcome</h1>
        <p class="govuk-body">{{serviceName}} allows users to chat with AI models and summarise documents using AI.</p>
        {{ govukButton({
        text: "Ask AI",
        href: "/2/chat",
        isStartButton: true
        }) }}
    </div>
</div>
{% endblock %}