
.chat-options {
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-top: 2rem;
  scroll-margin-bottom: 16rem;
}
main:has(.iai-chat-bubble) .chat-options {
  display: none;
}
.chat-options__heading {
  align-items: center;
  color: $redbox-red;
  display: flex;
  font-size: 2.25rem;
  gap: 1rem;
}
.chat-options__icon {
  width: 3.5rem;
}
.chat-options__options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}
.chat-options__option {
  align-items: center;
  background-color: white;
  border: 1px solid #b1b4b6;
  border-radius: 0.375rem;
  color: #60697b;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  gap: 1rem;
  padding: 0.875rem 1rem;
  flex-grow: 1;
  text-align: left;
}
.chat-options__option:hover {
  border-color: $redbox-red;
  color: $redbox-red;
}
.chat-options__info-text {
  color: #1f2937;
  font-size: 0.75rem;
  margin-top: 0.75rem;
}
@media (min-width: 641px) {
  .chat-options {
    display: block;
    padding-right: 4rem;
  }
}
@media (min-width: 1020px) {
  .chat-options__options {
    flex-direction: row;
    gap: 1.5rem;
  }
  .chat-options__option {
    gap: 0.5rem;
    padding: 0.875rem 0.5rem;
    width: 33%;
  }
}
@media (min-width: 1280px) {
  .chat-options__option {
    gap: 1rem;
    padding: 0.875rem 1rem;
  }
}
