main:has(.rb-chat-input),
body:has(.iai-environment-warning) main:has(.rb-chat-input) {
  min-height: 0;
}

@import "./chat-history.scss";

.rb-doc-selector__heading {
  font-size: 0.875rem;
}
.rb-doc-selector__label {
  font-size: 0.75rem;
  line-height: 1.4;
}

@media (min-width: 641px) {
  .rb-chats-section {
    flex-grow: 1;
  }
  .govuk-grid-row:has(.rb-chat-input) {
    display: flex;
    .govuk-grid-column-one-third,
    .govuk-grid-column-two-thirds {
      float: none;
      min-height: calc(100vh - 17.25rem);
    }
    .govuk-grid-column-two-thirds {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .iai-panel {
      height: auto;
    }
  }
}
@media (min-width: 1020px) {
  .govuk-grid-row:has(.rb-chat-input) {
    .govuk-grid-column-one-third,
    .govuk-grid-column-two-thirds {
      min-height: calc(100vh - 10.25rem);
    }
  }
}
@media (min-width: 1020px) and (min-height: 600px) {
  body:has(.rb-chat-input) .iai-environment-warning {
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  body:has(.rb-chat-input) .iai-top-nav {
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  body:has(.iai-environment-warning) .iai-top-nav {
    top: 26px;
  }
  main:has(.rb-chat-input) {
    padding-top: 4.5rem;
  }
  body:has(.iai-environment-warning) main:has(.rb-chat-input) {
    padding-top: 6.5rem;
  }
  .rb-left-column-container {
    left: 0;
    position: sticky;
    top: 4.5rem;
    width: calc(100% - 30px);
  }
  body:has(.iai-environment-warning) .rb-left-column-container {
    top: 6.5rem;
  }
}

@import "./model-selector.scss";

@import "./chat-title.scss";

chat-message {
  scroll-margin-bottom: 10rem;
}

.rb-loading-ellipsis {
  font-style: italic;
  margin-top: 1rem;
}
.rb-loading-ellipsis span {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  margin: 0 -2px;
}
.rb-loading-ellipsis span:nth-of-type(1) {
  animation-name: rb-ellipsis-1;
}
.rb-loading-ellipsis span:nth-of-type(2) {
  animation-name: rb-ellipsis-2;
}
.rb-loading-ellipsis span:nth-of-type(3) {
  animation-name: rb-ellipsis-3;
}
@keyframes rb-ellipsis-1 {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}
@keyframes rb-ellipsis-2 {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes rb-ellipsis-3 {
  0% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

.rb-chat-message__container {
  list-style-type: none;
  margin-top: -1rem;
  padding: 0;
}
.govuk-main-wrapper:has(.rb-chat-input) {
  padding-bottom: 0;
}

.rb-streaming-response-loading {
  align-items: center;
  display: flex;
  padding: 0.5rem 0;
  gap: 0.25rem;
}
.rb-response-loading {
  align-items: center;
  display: flex;
  padding: 0.5rem 0;
  visibility: hidden;
}
.rb-response-loading:focus-visible {
  outline: 1px solid;
}
.rb-response-loading__spinner,
.rb-streaming-response-loading__spinner {
  width: 1.5rem;
}

.iai-chat-bubble__role {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
.iai-chat-bubble__role img {
  width: 1.25rem;
}
.iai-chat-bubble__text a {
  color: $redbox-red;
}
.iai-chat-bubble__text a:hover {
  font-weight: bold;
}

.rb-chat-message-footer__text {
  color: #60697b;
  font-size: 0.75rem;
  margin-left: 1rem;
}
.rb-chat-message-footer__actions-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 0.75rem;
}
.rb-chat-message-footer__actions-container fieldset {
  border: 0;
  padding: 0;
}

.rb-copy-text-button {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 0.75rem;
  gap: 0.25rem;
  margin-left: 0.5rem;
}
.rb-copy-text-button:hover {
  color: $redbox-red;
}

@import "./feedback.scss";

@import "./canned-prompts.scss";


message-input {
  display: block;
  position: relative;
}
message-input label {
  background-color: white;
  border-radius: 0.25rem;
  display: block;
  font-size: 0.75rem;
  font-weight: bold;
  left: 0.25rem;
  padding: 0 0.25rem;
  position: absolute;
  top: -1.25rem;
}
message-input:has(textarea:placeholder-shown) label {
  display: none;
}


.rb-send-button svg {
  background-color: white;
  border-radius: 100%;
  box-shadow: 3px 3px 10px #edeef2;
}
.rb-send-button .rb-square-icon {
  align-items: center;
  background-color: white;
  border-radius: 100%;
  box-shadow: 3px 3px 10px #edeef2;
  display: flex;
  height: 1.75rem;
  justify-content: center;
  width: 1.75rem;
}
.rb-send-button .rb-square-icon::before {
  background-color: #60697b;
  border-radius: 2px;
  content: "";
  height: 0.625rem;
  width: 0.625rem;
}
.rb-send-button:hover .rb-square-icon::before {
  background-color: $redbox-red;
}

.rb-token-sizes li span:nth-child(1) {
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
}
.iai-chat-bubble__text details {
  border: 1px solid var(--iai-colour-secondary-teal);
  border-radius: 0.5rem;
  color: var(--iai-colour-secondary-teal);
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem;
  padding: 0.25rem 0.75rem;
}
.iai-chat-bubble__text details ul {
  padding-left: 1rem;
}


/* Mermaid charts */
.iai-chat-bubble__text code.mermaid {
  background-color: transparent;
}
.mermaid .label-container, .mermaid rect.actor {
  fill: #f5ebeb !important;
  stroke: $redbox-red !important;
}
.mermaid text {
  fill: #333 !important;
  stroke: transparent !important;
}

/* Inline Mermaid styles, which get blocked by our CSP */
.mermaid svg{font-family:"trebuchet ms",verdana,arial,sans-serif;font-size:16px;fill:#333;}.mermaid svg .error-icon{fill:#552222;}.mermaid svg .error-text{fill:#552222;stroke:#552222;}.mermaid svg .edge-thickness-normal{stroke-width:1px;}.mermaid svg .edge-thickness-thick{stroke-width:3.5px;}.mermaid svg .edge-pattern-solid{stroke-dasharray:0;}.mermaid svg .edge-thickness-invisible{stroke-width:0;fill:none;}.mermaid svg .edge-pattern-dashed{stroke-dasharray:3;}.mermaid svg .edge-pattern-dotted{stroke-dasharray:2;}.mermaid svg .marker{fill:#333333;stroke:#333333;}.mermaid svg .marker.cross{stroke:#333333;}.mermaid svg svg{font-family:"trebuchet ms",verdana,arial,sans-serif;font-size:16px;}.mermaid svg p{margin:0;}.mermaid svg .label{font-family:"trebuchet ms",verdana,arial,sans-serif;color:#333;}.mermaid svg .cluster-label text{fill:#333;}.mermaid svg .cluster-label g{color:#333;}.mermaid svg .cluster-label g p{background-color:transparent;}.mermaid svg .label text,.mermaid svg g{fill:#333;color:#333;}.mermaid svg .node rect,.mermaid svg .node circle,.mermaid svg .node ellipse,.mermaid svg .node polygon,.mermaid svg .node path{fill:#ECECFF;stroke:#9370DB;stroke-width:1px;}.mermaid svg .rough-node .label text,.mermaid svg .node .label text,.mermaid svg .image-shape .label,.mermaid svg .icon-shape .label{text-anchor:middle;}.mermaid svg .node .katex path{fill:#000;stroke:#000;stroke-width:1px;}.mermaid svg .rough-node .label,.mermaid svg .node .label,.mermaid svg .image-shape .label,.mermaid svg .icon-shape .label{text-align:center;}.mermaid svg .node.clickable{cursor:pointer;}.mermaid svg .root .anchor path{fill:#333333!important;stroke-width:0;stroke:#333333;}.mermaid svg .arrowheadPath{fill:#333333;}.mermaid svg .edgePath .path{stroke:#333333;stroke-width:2.0px;}.mermaid svg .flowchart-link{stroke:#333333;fill:none;}.mermaid svg .edgeLabel{background-color:rgba(232,232,232, 0.8);text-align:center;}.mermaid svg .edgeLabel p{background-color:rgba(232,232,232, 0.8);}.mermaid svg .edgeLabel rect{opacity:0.5;background-color:rgba(232,232,232, 0.8);fill:rgba(232,232,232, 0.8);}.mermaid svg .labelBkg{background-color:rgba(232, 232, 232, 0.5);}.mermaid svg .cluster rect{fill:#ffffde;stroke:#aaaa33;stroke-width:1px;}.mermaid svg .cluster text{fill:#333;}.mermaid svg .cluster g{color:#333;}.mermaid svg g.mermaidTooltip{position:absolute;text-align:center;max-width:200px;padding:2px;font-family:"trebuchet ms",verdana,arial,sans-serif;font-size:12px;background:hsl(80, 100%, 96.2745098039%);border:1px solid #aaaa33;border-radius:2px;pointer-events:none;z-index:100;}.mermaid svg .flowchartTitleText{text-anchor:middle;font-size:18px;fill:#333;}.mermaid svg rect.text{fill:none;stroke-width:0;}.mermaid svg .icon-shape,.mermaid svg .image-shape{background-color:rgba(232,232,232, 0.8);text-align:center;}.mermaid svg .icon-shape p,.mermaid svg .image-shape p{background-color:rgba(232,232,232, 0.8);padding:2px;}.mermaid svg .icon-shape rect,.mermaid svg .image-shape rect{opacity:0.5;background-color:rgba(232,232,232, 0.8);fill:rgba(232,232,232, 0.8);}.mermaid svg :root{--mermaid-font-family:"trebuchet ms",verdana,arial,sans-serif;}
/* sequence diagrams */
.mermaid svg .actor{stroke:hsl(259.6261682243, 59.7765363128%, 87.9019607843%);fill:#ECECFF;}.mermaid svg text.actor>tspan{fill:black;stroke:none;}.mermaid svg .actor-line{stroke:hsl(259.6261682243, 59.7765363128%, 87.9019607843%);}.mermaid svg .messageLine0{stroke-width:1.5;stroke-dasharray:none;stroke:#333;}.mermaid svg .messageLine1{stroke-width:1.5;stroke-dasharray:2,2;stroke:#333;}.mermaid svg #arrowhead path{fill:#333;stroke:#333;}.mermaid svg .sequenceNumber{fill:white;}.mermaid svg #sequencenumber{fill:#333;}.mermaid svg #crosshead path{fill:#333;stroke:#333;}.mermaid svg .messageText{fill:#333;stroke:none;}.mermaid svg .labelBox{stroke:hsl(259.6261682243, 59.7765363128%, 87.9019607843%);fill:#ECECFF;}.mermaid svg .labelText,.mermaid svg .labelText>tspan{fill:black;stroke:none;}.mermaid svg .loopText,.mermaid svg .loopText>tspan{fill:black;stroke:none;}.mermaid svg .loopLine{stroke-width:2px;stroke-dasharray:2,2;stroke:hsl(259.6261682243, 59.7765363128%, 87.9019607843%);fill:hsl(259.6261682243, 59.7765363128%, 87.9019607843%);}.mermaid svg .note{stroke:#aaaa33;fill:#fff5ad;}.mermaid svg .noteText,.mermaid svg .noteText>tspan{fill:black;stroke:none;}.mermaid svg .activation0{fill:#f4f4f4;stroke:#666;}.mermaid svg .activation1{fill:#f4f4f4;stroke:#666;}.mermaid svg .activation2{fill:#f4f4f4;stroke:#666;}.mermaid svg .actorPopupMenu{position:absolute;}.mermaid svg .actorPopupMenuPanel{position:absolute;fill:#ECECFF;box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);filter:drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));}.mermaid svg .actor-man line{stroke:hsl(259.6261682243, 59.7765363128%, 87.9019607843%);fill:#ECECFF;}.mermaid svg .actor-man circle,.mermaid svg line{stroke:hsl(259.6261682243, 59.7765363128%, 87.9019607843%);fill:#ECECFF;stroke-width:2px;}.mermaid svg :root{--mermaid-font-family:"trebuchet ms",verdana,arial,sans-serif;}
/* gantt charts */
.mermaid svg .mermaid-main-font{font-family:var(--mermaid-font-family, "trebuchet ms", verdana, arial, sans-serif);}.mermaid svg .exclude-range{fill:#eeeeee;}.mermaid svg .section{stroke:none;opacity:0.2;}.mermaid svg .section0{fill:rgba(102, 102, 255, 0.49);}.mermaid svg .section2{fill:#fff400;}.mermaid svg .section1,.mermaid svg .section3{fill:white;opacity:0.2;}.mermaid svg .sectionTitle0{fill:#333;}.mermaid svg .sectionTitle1{fill:#333;}.mermaid svg .sectionTitle2{fill:#333;}.mermaid svg .sectionTitle3{fill:#333;}.mermaid svg .sectionTitle{text-anchor:start;font-family:var(--mermaid-font-family, "trebuchet ms", verdana, arial, sans-serif);}.mermaid svg .grid .tick{stroke:lightgrey;opacity:0.8;shape-rendering:crispEdges;}.mermaid svg .grid .tick text{font-family:"trebuchet ms",verdana,arial,sans-serif;fill:#333;}.mermaid svg .grid path{stroke-width:0;}.mermaid svg .today{fill:none;stroke:red;stroke-width:2px;}.mermaid svg .task{stroke-width:2;}.mermaid svg .taskText{text-anchor:middle;font-family:var(--mermaid-font-family, "trebuchet ms", verdana, arial, sans-serif);}.mermaid svg .taskTextOutsideRight{fill:black;text-anchor:start;font-family:var(--mermaid-font-family, "trebuchet ms", verdana, arial, sans-serif);}.mermaid svg .taskTextOutsideLeft{fill:black;text-anchor:end;}.mermaid svg .task.clickable{cursor:pointer;}.mermaid svg .taskText.clickable{cursor:pointer;fill:#003163!important;font-weight:bold;}.mermaid svg .taskTextOutsideLeft.clickable{cursor:pointer;fill:#003163!important;font-weight:bold;}.mermaid svg .taskTextOutsideRight.clickable{cursor:pointer;fill:#003163!important;font-weight:bold;}.mermaid svg .taskText0,.mermaid svg .taskText1,.mermaid svg .taskText2,.mermaid svg .taskText3{fill:white;}.mermaid svg .task0,.mermaid svg .task1,.mermaid svg .task2,.mermaid svg .task3{fill:#8a90dd;stroke:#534fbc;}.mermaid svg .taskTextOutside0,.mermaid svg .taskTextOutside2{fill:black;}.mermaid svg .taskTextOutside1,.mermaid svg .taskTextOutside3{fill:black;}.mermaid svg .active0,.mermaid svg .active1,.mermaid svg .active2,.mermaid svg .active3{fill:#bfc7ff;stroke:#534fbc;}.mermaid svg .activeText0,.mermaid svg .activeText1,.mermaid svg .activeText2,.mermaid svg .activeText3{fill:black!important;}.mermaid svg .done0,.mermaid svg .done1,.mermaid svg .done2,.mermaid svg .done3{stroke:grey;fill:lightgrey;stroke-width:2;}.mermaid svg .doneText0,.mermaid svg .doneText1,.mermaid svg .doneText2,.mermaid svg .doneText3{fill:black!important;}.mermaid svg .crit0,.mermaid svg .crit1,.mermaid svg .crit2,.mermaid svg .crit3{stroke:#ff8888;fill:red;stroke-width:2;}.mermaid svg .activeCrit0,.mermaid svg .activeCrit1,.mermaid svg .activeCrit2,.mermaid svg .activeCrit3{stroke:#ff8888;fill:#bfc7ff;stroke-width:2;}.mermaid svg .doneCrit0,.mermaid svg .doneCrit1,.mermaid svg .doneCrit2,.mermaid svg .doneCrit3{stroke:#ff8888;fill:lightgrey;stroke-width:2;cursor:pointer;shape-rendering:crispEdges;}.mermaid svg .milestone{transform:rotate(45deg) scale(0.8,0.8);}.mermaid svg .milestoneText{font-style:italic;}.mermaid svg .doneCritText0,.mermaid svg .doneCritText1,.mermaid svg .doneCritText2,.mermaid svg .doneCritText3{fill:black!important;}.mermaid svg .activeCritText0,.mermaid svg .activeCritText1,.mermaid svg .activeCritText2,.mermaid svg .activeCritText3{fill:black!important;}.mermaid svg .titleText{text-anchor:middle;font-size:18px;fill:#333;font-family:var(--mermaid-font-family, "trebuchet ms", verdana, arial, sans-serif);}.mermaid svg :root{--mermaid-font-family:"trebuchet ms",verdana,arial,sans-serif;}
.mermaid svg .grid .domain {
  opacity: 0.1;
}
/* class diagrams */
.mermaid svg g.classGroup text{fill:#9370DB;stroke:none;font-family:"trebuchet ms",verdana,arial,sans-serif;font-size:10px;}.mermaid svg g.classGroup text .title{font-weight:bolder;}.mermaid svg .nodeLabel,.mermaid svg .edgeLabel{color:#131300;}.mermaid svg .edgeLabel .label rect{fill:#ECECFF;}.mermaid svg .label text{fill:#131300;}.mermaid svg .labelBkg{background:#ECECFF;}.mermaid svg .edgeLabel .label span{background:#ECECFF;}.mermaid svg .classTitle{font-weight:bolder;}.mermaid svg .node rect,.mermaid svg .node circle,.mermaid svg .node ellipse,.mermaid svg .node polygon,.mermaid svg .node path{fill:#ECECFF;stroke:#9370DB;stroke-width:1px;}.mermaid svg .divider{stroke:#9370DB;stroke-width:1;}.mermaid svg g.clickable{cursor:pointer;}.mermaid svg g.classGroup rect{fill:#ECECFF;stroke:#9370DB;}.mermaid svg g.classGroup line{stroke:#9370DB;stroke-width:1;}.mermaid svg .classLabel .box{stroke:none;stroke-width:0;fill:#ECECFF;opacity:0.5;}.mermaid svg .classLabel .label{fill:#9370DB;font-size:10px;}.mermaid svg .relation{stroke:#333333;stroke-width:1;fill:none;}.mermaid svg .dashed-line{stroke-dasharray:3;}.mermaid svg .dotted-line{stroke-dasharray:1 2;}.mermaid svg #compositionStart,.mermaid svg .composition{fill:#333333!important;stroke:#333333!important;stroke-width:1;}.mermaid svg #compositionEnd,.mermaid svg .composition{fill:#333333!important;stroke:#333333!important;stroke-width:1;}.mermaid svg #dependencyStart,.mermaid svg .dependency{fill:#333333!important;stroke:#333333!important;stroke-width:1;}.mermaid svg #dependencyStart,.mermaid svg .dependency{fill:#333333!important;stroke:#333333!important;stroke-width:1;}.mermaid svg #extensionStart,.mermaid svg .extension{fill:transparent!important;stroke:#333333!important;stroke-width:1;}.mermaid svg #extensionEnd,.mermaid svg .extension{fill:transparent!important;stroke:#333333!important;stroke-width:1;}.mermaid svg #aggregationStart,.mermaid svg .aggregation{fill:transparent!important;stroke:#333333!important;stroke-width:1;}.mermaid svg #aggregationEnd,.mermaid svg .aggregation{fill:transparent!important;stroke:#333333!important;stroke-width:1;}.mermaid svg #lollipopStart,.mermaid svg .lollipop{fill:#ECECFF!important;stroke:#333333!important;stroke-width:1;}.mermaid svg #lollipopEnd,.mermaid svg .lollipop{fill:#ECECFF!important;stroke:#333333!important;stroke-width:1;}.mermaid svg .edgeTerminals{font-size:11px;line-height:initial;}.mermaid svg .classTitleText{text-anchor:middle;font-size:18px;fill:#333;}.mermaid svg :root{--mermaid-font-family:"trebuchet ms",verdana,arial,sans-serif;}

@import "./chat-input.scss";

@import "./documents.scss";
