
.rb-document-upload {
  border: 1px solid black;
  padding: 1rem;
}

.rb-uploaded-docs {
  display: none;
  justify-content: flex-end;
}
.rb-uploaded-docs:has(li) {
  display: flex;
}
.rb-uploaded-docs__item {
  align-items: center;
  display: flex;
  list-style-type: none;
  gap: 0.5rem;
  padding: 0.75rem;
}
.rb-uploaded-docs__drag-drop {
  align-items: center;
  background-color: white;
  border: 2.5rem solid rgba(69, 24, 24, 0.8);
  border-left-width: 4rem;
  border-right-width: 4rem;
  bottom: 0;
  color: $redbox-red;
  display: flex;
  flex-direction: column;
  font-size: 1.375rem;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
}


.rb-upload-container ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}
.rb-upload-container__doc {
  background-color: white;
  font-size: 0.75rem;
  list-style-type: none;
  width: 8rem;
}
.rb-upload-container__info {
  max-width: 12rem;
}
.rb-upload-container file-status {
  background-color: #ccc;
  display: block;
  padding: 0.25rem;
}
.rb-upload-container__filename-container {
  display: flex;
  justify-content: space-between;
}
.rb-upload-container__filename {
  overflow: hidden;
  padding: 0.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rb-upload-container__remove-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
.rb-upload-container__remove-button:hover {
  color: var(--iai-product-colour);
}


.rb-upload-container ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}
.rb-upload-container__doc {
  background-color: white;
  font-size: 0.75rem;
  list-style-type: none;
  width: 8rem;
}
.rb-upload-container__info {
  max-width: 12rem;
}
.rb-upload-container file-status {
  background-color: #ccc;
  display: block;
  padding: 0.25rem;
}
.rb-upload-container__filename-container {
  display: flex;
  justify-content: space-between;
}
.rb-upload-container__filename {
  overflow: hidden;
  padding: 0.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rb-upload-container__remove-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
.rb-upload-container__remove-button:hover {
  color: var(--iai-product-colour);
}
