{% extends "layouts/standard.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
Sign in - step 1
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sign in - step 1 of 2</h1>
        <form>
            <div class="govuk-form-group">
                <label class="govuk-label" for="email">Email address</label>
                <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="email">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="password">Password</label>
                <input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="password">
            </div>
            {{ govukButton({
            text: "Continue",
            href: "/2/sign-in-2"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
