{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set title = "Documents" %}
{% block pageTitle %}
{{title}}
{% endblock %}

{% block content %}

<table class="govuk-table iai-doclist">
    <caption class="govuk-table__caption govuk-table__caption--m">Existing Documents<span class="iai-table-info">Documents will be stored for a maximum of 30 days.</span>
    </caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Select</th>
        <th scope="col" class="govuk-table__header">Document name</th>
        <th scope="col" class="govuk-table__header">Date uploaded</th>
        <th scope="col" class="govuk-table__header">Actions</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for doc in data.docs %}
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="doc{{loop.index}}" name="doc{{loop.index}}"
                           type="checkbox" value="doc{{loop.index}}">
                    <label class="govuk-label govuk-checkboxes__label" for="doc{{loop.index}}">
                        <span class="govuk-visually-hidden">Select</span>
                    </label>
                </div>
        </td>
        <td class="govuk-table__cell iai-doclist__doc-name">{{doc.name}}</td>
        <td class="govuk-table__cell iai-doclist__doc-name">{{doc.dateUploaded}}</td>
        <td class="govuk-table__cell">
            {#
            <div class="govuk-button-group">#}
                {#
                {{ govukButton({
                text: "View",
                href: "/0/view-doc?doc-name=" + doc.name,
                classes: "govuk-button--secondary"
                }) }}
                #}
                {{ govukButton({
                text: "Download",
                href: "#download",
                classes: "govuk-button--secondary"
                }) }}
                {{ govukButton({
                text: "Summarise",
                href: "/0/summary?doc-name=" + doc.name,
                classes: "govuk-button--secondary"
                }) }}
                {{ govukButton({
                text: "Remove",
                href: "/0/remove-doc?doc-name=" + doc.name,
                classes: "govuk-button--warning"
                }) }}
                {#
            </div>
            #}
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3">
            {#
            {{ govukPagination({
            previous: {
            href: "#"
            },
            next: {
            href: "#"
            },
            items: [
            {
            number: 1,
            href: "#"
            },
            {
            number: 2,
            current: true,
            href: "#"
            },
            {
            number: 3,
            href: "#"
            }
            ]
            }) }}
            #}
            {{ govukButton({
            text: "Summarise selected documents",
            href: "/0/summary?doc-name=X Documents",
            classes: "govuk-button--secondary"
            }) }}
        </td>
    </tr>
    </tfoot>
</table>

{% call govukFieldset({
legend: {
text: "Add a file",
classes: "govuk-fieldset__legend--m",
isPageHeading: false
}
}) %}
{#
{% from "govuk/components/select/macro.njk" import govukSelect %}
{{ govukSelect({
id: "collection",
name: "collection",
label: {
text: "Add to collection"
},
items: [
{
value: "my-docs",
text: "My Documents"
},
{
value: "team1-docs",
text: "Team 1 Documents",
selected: true
},
{
value: "team2-docs",
text: "Team 2 Documents"
}
]
}) }}
#}

{{ govukFileUpload({
id: "file-upload-1",
name: "fileUpload1",
label: {
text: "Upload a file"
}
}) }}
{# Limit 200MB per file • EML, HTML, JSON, MD, MSG, RST, RTF, TXT, XML, CSV, DOC, DOCX, EPUB, ODT, PDF, PPT, PPTX, TSV, XLSX, HTM #}


{% endcall %}

{% endblock %}