name: _cicd (build and release entry)

on:
  push:
    branches:
      - main
  release:
    types:
      - released
  workflow_dispatch:
    inputs:
      commit_hash:
        description: 'The SHA of the Git commit to use'
        required: false
        default: refs/heads/main
      core_repo_reference:
        description: 'The SHA to set the core repo to'
        required: false
        default: refs/heads/main
      config_repo_reference:
        description: 'The SHA to set the config repo to'
        required: false
        default: refs/heads/main

permissions:
  contents: read

jobs:
  release-dev:
#    if: ${{ false }}  # Uncomment this, and comment out the line below, to disable this workflow path
    if: github.event_name == 'workflow_dispatch'
    uses: i-dot-ai/redbox/.github/workflows/build-and-release.yml@main
    with:
      environment: dev
      core_infra_repo_reference: ${{ inputs.core_repo_reference }}
      config_repo_reference: ${{ inputs.config_repo_reference }}
      commit_hash: ${{ inputs.commit_hash }}
    secrets: inherit

  release-preprod:
#    if: ${{ false }}  # Uncomment this, and comment out the line below, to disable this workflow path
    if: github.event_name == 'push' && github.ref_name == 'main'
    uses: i-dot-ai/redbox/.github/workflows/build-and-release.yml@main
    with:
      environment: preprod
      core_infra_repo_reference: 'refs/heads/main'
      config_repo_reference: 'refs/heads/main'
      commit_hash: ${{ github.sha }}
    secrets: inherit

  release-prod:
#    if: ${{ false }}  # Uncomment this, and comment out the line below, to disable this workflow path
    if: github.event_name == 'release'
    uses: i-dot-ai/redbox/.github/workflows/build-and-release.yml@main
    with:
      environment: prod
      core_infra_repo_reference: 'refs/heads/main'
      config_repo_reference: 'refs/heads/main'
      commit_hash: ${{ github.sha }}
    secrets: inherit