# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches:
      - 'main'
      - 'feature/**'
      - 'chore/**'
      - 'bugfix/**'
      - 'hotfix/**'
      - 'dependabot/**'
      - 'develop'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"

    - name: Set up Poetry
      uses: abatilo/actions-poetry@v2
      with:
        poetry-version: 1.7.0

    - name: Build Containers
      run: |
        mkdir -p data/elastic/
        chmod 777 data/elastic/
        cp .env.example .env
        docker compose build test elasticsearch
        docker compose up -d --wait elasticsearch

    - name: Peek Elasticsearch
      run: |
        sleep 10
        docker logs redbox-copilot-elasticsearch-1

    - name: Test with pytest
      run: |
        make test

    - name: Install dependencies
      run: |
        docker compose down
        docker system prune --all --force
        poetry install --no-root --no-ansi --with dev,embed --without  streamlit-app,ai,ingest,worker,api

    - name: Format code
      run: |
        make format

    - name: Type check
      run: |
        make checktypes
