# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    paths:
      - redbox/**
      - core_api/**
      - django_app/**
      - worker/**
      - Makefile
      - poetry.lock
      - .github/**
    branches:
      - 'main'
      - 'feature/**'
      - 'chore/**'
      - 'bugfix/**'
      - 'hotfix/**'
      - 'dependabot/**'
      - 'develop'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"

    - name: Set up Poetry
      uses: abatilo/actions-poetry@v2
      with:
        poetry-version: 1.7.0

    - name: Build Containers
      run: |
        mkdir -p data/elastic/
        chmod 777 data/elastic/
        cp .env.test .env
        docker compose up -d --wait elasticsearch

        poetry install --no-root --no-ansi
        poetry run python download_embedder.py --embedding_model paraphrase-albert-small-v2

    - name: Add dependencies for worker
      run: |
        sudo apt update && sudo apt-get install -y \
        poppler-utils \
        tesseract-ocr

    - name: Test core with pytest
      run: |
        make test-core-api


    - name: Test redbox with pytest
      run: |
        cp .env.test redbox-core/.env
        cd redbox-core
        poetry install
        poetry run pytest --cov=redbox -v --cov-report=term-missing --cov-fail-under=80
        cd ..

    - name: Test worker with pytest
      run: |
        cp .env.test worker/.env
        cd worker
        poetry install
        poetry run pytest --cov=worker -v --cov-report=term-missing --cov-fail-under=80
        cd ..


  static_checks:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"

    - name: Set up Poetry
      uses: abatilo/actions-poetry@v2
      with:
        poetry-version: 1.7.0

    - name: Install dependencies
      run: |
        poetry install --no-root --no-ansi --only dev

    - name: Format code
      run: |
        poetry run ruff format . --check
        poetry run ruff check .

    - name: Type check
      run: |
        make checktypes
